---
layout: default
---
<hgroup>
  <h1 class="ext-h">{% t Contact %}</h1>
</hgroup>
<hr>
<div class="row-fluid">
  <section class="span6">
    <h2 class="alert-heading contact-h">Madrid</h2>
    <p>
      <b>E-mail: </b>
      <a href="mailto:info@extrema-sistemas.com" title="{% t emailTo %}: info@extrema-sistemas.com" itemprop="email">info@extrema-sistemas.com</a>
    </p>
    <p>
      <b>{% t Phone %}: </b>
      <a itemprop="telephone" href="tel:+34911239108">(+34) 91 123 9108</a>
    </p>
    <p>
      <span class="label label-info">{% t Address %} </span>
    </p>
    <address itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
      <p class="address-p">Extrema Sistemas S.L.</p>
      <p itemprop="streetAddress" class="address-p">C/Casas de Miravete 24A<br></p>
      <span itemprop="postalCode">28031 </span>
      <span itemprop="addressCountry">Madrid</span>
      <p class="address-p">
        <a href="http://goo.gl/maps/3nDy">» {% t SeeInGMaps %} </a>
      </p>
    </address>
  </section>
  <section class="span6">
    <h2 class="alert-heading contact-h">{% t Italy %}</h2>
    <p>
      <b>E-mail: </b>
      <a href="mailto:italy@extrema-sistemas.com" title="{% t emailTo %}: italy@extrema-sistemas.com" itemprop="email">italy@extrema-sistemas.com</a>
    </p>
    <p>
      <b>{% t Phone %} </b>
      <a itemprop="telephone" href="tel:+34911239108">(+34) 91 123 9108</a>
    </p>
  </section>
</div>
<hr>
<section class="pull-right">
  <a href="http://blog.extrema-sistemas.com" target="_blank" title="Blog" class="social social-icon" data-icon="b"><span class="hidden-accessible">Blog</span></a>
  <a href="http://twitter.com/extremasistemas" target="_blank" title="Twitter" class="social social-icon" data-icon="t"><span class="hidden-accessible">Twitter</span></a>
</section>
<section>
  <h1 class="join-us">{% t joinUs.title %}</h1>
  <p>{% t joinUs.desc %}: <a href="mailto:team@extrema-sistemas.com" class="email" title="{% t joinUs.cv %}: team@extrema-sistemas.com">team@extrema-sistemas.com</a></p>
</section>