form(method="post", action="/courses/add",enctype="multipart/form-data").form-horizontal
  .row-fluid
    .span6
      !{i18nTextInput('Name', 'name', 'required')}
      .control-group
        select(name="type")
          option HTML5
          option Spring
          option Javaspecialists
    .span6
      .control-group
        label Picture
        input(type="file", name="thumb")
      !{i18nTextArea('Description', 'description', 'class="description-input"')}
  div
    button(type="submit").btn.btn-info Submit
    a(href="/courses").btn.btn-warning Cancel
