extends ../layouts/layout

include ../includes/admin-mixins

append content
  form(method="post", action="/courses/add",enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span4
        mixin i18nTextInput('Name', 'name', 'required')
        .control-group
          label Type
          select(name="type")
            option HTML5
            option Spring
            option Javaspecialists
        .control-group
          label Price
          input(type="number", name="price")
        .control-group
          label Picture
          input(type="file", name="thumb")
      .span8
        mixin i18nTextarea('Description', 'description', 'class="description-input"')
    div
      button(type="submit").btn.btn-info Submit
      a(href="/courses").btn.btn-warning Cancel
