extends ../layouts/layout

include ../includes/admin-mixins

append content
  h1 !{title}
  form(method="post",
    action="/editions/add").form-horizontal.row-fluid
    .span6
      .control-group
        label Date
        input(type="date", name="date")
      mixin formatEditionCombos('Venue', 'venue', venues, origin.venues)
    .span6
      mixin formatEditionCombos('Course', 'course', courses, origin.courses)
      mixin formatEditionCombos('Instructor', 'instructor', members, origin.team)
    input(type="hidden", name="origin", value=origin.address)
    div
      button(type="submit").btn.btn-info Submit
      a(href=origin.address).btn.btn-warning Cancel
