extends ../layouts/layout

include ../includes/admin-mixins

append content
  -var study = item
  form(method="post", action="/studies/" + study._id + "/update",enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span4
        .control-group
          label Client name
          input(type="text", name="name", value=study.name)
        .control-group
          label Picture
          img(src="thumb")
          input(type="file", name="thumb")
      .span8
        ul.nav.nav-tabs
          -appLocales.forEach(function (locale) {
            li
              a(data-toggle="tab", href="#fields-"+locale) !{locale}
          -});
        .tab-content
          -appLocales.forEach(function (locale) {
            .tab-pane(id='fields-'+locale)
              mixin i18nTextarea(locale, 'Description', 'description', study.description)
          -})
    div
      button(type="submit").btn.btn-info Submit
      a(href="/studies").btn.btn-warning Cancel
  form(method="post",
    action="/studies/" + study._id + "/delete").row-fluid
    button(type="submit").btn.btn-large.btn-danger.pull-right Delete

append scripts
  script
    $('#fields-en').addClass('active');
    $('li > a[href="#fields-en"]').parent().addClass('active');
