extends ../layouts/layout

include ../includes/admin-mixins

append content
  form(method="post", action="/studies/add",enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span4
        .control-group
          label Client name
          input(type="text", name="name")
        .control-group
          label Picture
          input(type="file", name="thumb")
      .span8
        ul.nav.nav-tabs
          -appLocales.forEach(function (locale) {
            li
              a(data-toggle="tab", href="#fields-"+locale) !{locale}
          -});
        .tab-content
          -appLocales.forEach(function (locale) {
            .tab-pane(id='fields-'+locale)
              mixin i18nTextarea(locale, 'Description', 'description')
          -})
    div
      button(type="submit").btn.btn-info Submit
      a(href="/studies").btn.btn-warning Cancel

append scripts
  script
    $('#fields-en').addClass('active');
    $('li > a[href="#fields-en"]').parent().addClass('active');
