extends ../layouts/layout

append content
  form(method="post", action="/team/add",enctype="multipart/form-data").form-horizontal
    .row-fluid
      .span4
        .control-group
          label Name
          input(type="text", name="name", required)
        .control-group
          label E-mail
          input(type="email", name="email")
        .control-group
          label Tags
          textarea(id="textarea", name="tags")
        .control-group
          | Format: 'tag name:tag color' (a CSS color)
          div
            input(type="text", id="tagname", placeholder="E.g.: Sexy:#ff123a")
            a(id="addtag").btn Click to add tag
        .control-group
          label Picture
          input(type="file", name="thumb")
      .span4
          !{i18nTextArea('Description', 'description', 'class="description-input"')}
      .span4
        label
          h4 Social links
        .control-group
          label Twitter 
          input(type="text", name="twitter", placeholder="User name")
        .control-group
          label Blog 
          input(type="text", name="blog")
        .control-group
          label Linkedin
          input(type="text", name="linkedin")
    div
      button(type="submit").btn.btn-info Submit
      a(href="/team").btn.btn-warning Cancel

append scripts
  script(src="/javascripts/textext.js", type="text/javascript", charset="utf-8")
  script(type="text/javascript")
    
    $('#textarea').textext({ plugins: 'tags' });

    $('#addtag').bind('click', function(e)
    {

        var tag = $('#tagname').val();
        if(tag.split(':').length === 1) 
          tag = tag.concat(':#aaa')

        $('#textarea').textext()[0].tags().addTags([ tag ]);


        $('#tagname').val('');
    });

