h1 #{title}
-var venues = items
table.table.table-striped
  thead
    tr
      th
      th Name
      th Address
  tbody
  -for (var i in venues)
    tr
      td
        img(src="/venues/"+venues[i]._id+"/thumb").thumb-list
      td 
        a(href="/venues/"+venues[i]._id+"/edit") !{venues[i].name}
      td
        !{venues[i].address}
a(href="/venues/new").btn New

a(href="/admin").btn Back

