form(method="post", action="/venues/add",enctype="multipart/form-data").form-horizontal
  .row-fluid
    .span6
      .control-group
        label Name
        input(type="text", name="name", required)
      .control-group
        label Address
        input(type="text", name="address")
    .span6
      .control-group
        label Picture
        input(type="file", name="picture")
  div
    button(type="submit").btn.btn-info Submit
    a(href="/venues").btn.btn-warning Cancel
