mixin cookiePermission()
  .cookie-container
    .cookie-permissions
      .wrapper.row-fluid
        .span12
          .ext-h2 !{__('cookies-dialog-title')}
          p !{__('cookies-dialog')}
          a.accept-cookies.btn !{__('cookies-accept')}