mixin courseContent(type, id)
  .tab-pane(id=id)
    ul.courses-list
      for course in courses
        if(course.type === type)
          li
            h4 !{course.name[lang]}
            img(src="/courses/" + course._id + "/thumb")
            p !{course.description[lang]}

mixin courseTab(type, id)
  li
    a(href="#" + id, data-toggle="tab")= type