mixin courseContent(type)
  .row-fluid
    ul.courses-list.span12
      for course in courses
        -if(course.type === type) {
          li
            h4 !{course.name[lang]}
            .course-details
              !{course.price + ' EUR &middot; ' + course.duration + ' ' + __('hours')}
            //- img(src="/courses/" + course._id + "/thumb")
            !{course.description[lang]}

            -if(user) {
              a.btn(href="/courses/" + course._id + "/edit") Edit
            -}
        -}

mixin courseTab(type, id)
  li
    a(href="#" + id, data-toggle="tab")= type