-var languages = appLocales.slice(0);

ul.nav.nav-pills#lang-pills
  -for locale in languages
    -if(locale === lang)
      li.active
        a !{__('lang-' + locale)}
    -else
      li
        a(href="/" + locale) !{__('lang-' + locale)}