ul.nav.pull-right.visible-desktop
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown')
      | !{__('lang-' + lang)}
      b.caret
    ul.dropdown-menu
      -for locale in other_langs
        -if(locale !== lang) {
          li
            a(href='/' + locale) !{__('lang-' + locale)}
        -if(other_langs.indexOf(locale) !== other_langs.length-1)
          li.divider
        -}