form(method="post", action="/team/new/add",enctype="multipart/form-data").form-horizontal
  .row-fluid
    .span4
      .control-group
        label Name
        input(type="text", name="name", required)
      .control-group
        label E-mail
        input(type="email", name="email")
      .control-group
        label Type
        select(name="type")
          option IT
          option Management
    .span4
      .control-group
        label Picture
        input(type="file", name="picture")
      .control-group
        label Description (english)
        textarea(name="description", style="resize:vertical")
      .control-group
        label Description (spanish)
        textarea(name="descripcion", style="resize:vertical")
    .span4
      label
        h4 Social links
      .control-group
        label Twitter 
        input(type="text", name="twitter",placeholder="@user")
      .control-group
        label Blog 
        input(type="text", name="blog")
      .control-group
        label Linkedin
        input(type="text", name="linkedin")
  div
    button(type="submit").btn.btn-info Submit
    a(href="/team").btn.btn-warning Cancel
