h1 #{title}
table.table.table-striped
  thead
    tr
      th Name
      th Team
  tbody
  -for (var i in members)
    tr
      td 
        a(href="/team/"+members[i].name+"/edit") !{members[i].name}
      td !{members[i].type}
a(href="team/new") Add

