h1 #{title}
table.table.table-striped
  thead
    tr
      th Name
      th Team
      th
  tbody
  -for (var i in members)
    tr
      td 
        a(href="/admin/team/"+members[i].name) !{members[i].name}
      td !{members[i].type}
      td
        a.btn(href="/admin/team/"+ members[i].name + "/edit") Edit
a(href="/admin/team/new") Add

