.main.container-fluid
  .home-text
    h1 Hello, we're Extrema
    //
       <img src="/images/yao.jpg" class=""> 
    p
      | We are ninjas. e ude atama obi mimi atama omote ken ashi ninjutsu mimi. Dan jo dan han bo bo me yubi jo shi chu tonfa chu. Jo keri ge ukemi atama chu waza shi. Shuriken tonfa obi dan omote obi chu ashi ude keri. Keri jo sai wakizashi. Shi chu chu bisento ge chu. Nunchaku obi ukemi omote chu waza migi sai jo. Mate jo chu ukemi mate chu ushiro bo ge. Dojo me ge jo nunchaku chu atama ninjutsu waza obi waza dojo. Ushiro waza atama ge kyu kama bo shuriken henka do-gi sai. Ukemi chu shuriken ge. We are ninjas. We are ninjas.
  hr
  .home-text
    h1 Training
    h4
      | The most advanced IT training courses delivered by experienced professionals. Nuestros cursos son la repera, prosciutto beef flank chuck turkey, ...
    ul.thumbnails.row-fluid.courses
      li.span3
        .thumbnail
          img(src='/images/javasp.jpg')
          .caption
            h4 Javaspecialists
      li.span3
        .thumbnail
          img(src='/images/html5.png')
          .caption
            h4 HTML5 and CSS3
      li.span3
        .thumbnail
          img(src='/images/spring.png')
          .caption
            h4 Spring alpha
      li.span3
        .thumbnail
          img(src='/images/spring.png')
          .caption
            h4 Spring omega
  hr
  .home-text
    h1 Clients
    h4
      | Our clients love us, tenderloin pastrami. Jowl swine beef ribs brisket. Pig bacon prosciutto jerky, Tart pudding lollipop biscuit cupcake sweet roll wafer candy lollipop. Cheesecake oat cake biscuit fruitcake gummi bears...
    ul.thumbnails.row-fluid.clients
      li.span2
        .thumbnail
          img(src='/images/aena.png')
      li.span2
        .thumbnail
          img(src='/images/bbva.jpg')
      li.span2
        .thumbnail
          img(src='/images/cajamadrid.jpg')
      li.span2
        .thumbnail
          img(src='/images/indra.jpg')
      li.span2
        .thumbnail
          img(src='/images/tenerife.gif')
.footer
  .container-fluid
    a(href='#') Contact
