extends ../../_layouts/course
block content
  +course({
    language: eiwsLanguage,
    duration: eiwsDuration,
    objectives: eiwsObjectives,
    title: eiwsTitle,
    syllabus: eiwsSyllabus,
    audience: eiwsAudience,
    requirements: eiwsRequirements,
    tab: 'spring',
    desc: eiwsDescLong
  })