extends ../../_layouts/course
block content
  +course({
    language: gcpLanguage,
    duration: gcpDuration,
    durationISO: "40:00",
    objectives: gcpObjectives,
    title: "Official Google Cloud Platform Qualification Course",
    syllabus: gcpSyllabus,
    audience: gcpAudience,
    requirements: gcpRequirements,
    tab: 'google',
    desc: gcpDesc
  })