extends ../../_layouts/course
block content
  +course({
    language: grailsLanguage,
    duration: grailsDuration,
    objectives: grailsObjectives,
    title: "Groovy & Grails",
    syllabus: grailsSyllabus,
    audience: grailsAudience,
    requirements: grailsRequirements,
    tab: 'groovy-and-grails',
    desc: grailsDescLong
  })