extends ../../_layouts/course
block content
  +course({
    language: hibernateWithSpringLanguage,
    duration: hibernateWithSpringDuration,
    objectives: hibernateWithSpringObjectives,
    title: hibernateWithSpringTitle,
    syllabus: hibernateWithSpringSyllabus,
    audience: hibernateWithSpringAudience,
    requirements: hibernateWithSpringRequirements,
    tab: 'spring',
    desc: hibernateWithSpringDesc
  })