extends ../../_layouts/course
block content
  +course({
    language: html5Language,
    duration: html5Duration,
    objectives: html5Objectives,
    title: html5Title,
    afterCompleting: html5AfterCompleting,
    audience: html5Audience,
    requirements: html5Requirements,
    tab: 'html5'
  })