extends ../../_layouts/course
block content
  +course({
    language: springCoreLanguage,
    duration: springCoreDuration,
    objectives: springCoreObjectives,
    title: springCoreTitle,
    syllabus: springCoreSyllabus,
    audience: springCoreAudience,
    requirements: springCoreRequirements,
    tab: 'spring',
    desc: springCoreDescLong
  })