extends ../../_layouts/course
block content
  +course({
    language: springWebLanguage,
    duration: springWebDuration,
    objectives: springWebObjectives,
    title: springWebTitle,
    syllabus: springWebSyllabus,
    audience: springWebAudience,
    requirements: springWebRequirements,
    tab: 'spring',
    desc: springWebDescLong
  })