<section class="clients-section clearfix">
  <div class="column small-12 text-center">
    <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
      <li>
        <span class="client-accenture" title="Accenture">Accenture</span>
      </li>
      <li>
        <span class="client-aena" title="AENA">AENA</span>
      </li>
      <li>
        <span class="client-atos" title="Atos">Atos</span>
      </li>
      <li>
        <span class="client-bbva" title="BBVA">BBVA</span>
      </li>
      <li>
        <span class="client-bde" title="Banco de España">Banco de España</span>
      </li>
      <li>
        <span class="client-carrefour" title="Carrefour">Carrefour</span>
      </li>
      <li>
        <span class="client-corteingles" title="El Corte Inglés">El Corte Inglés</span>
      </li>
      <li>
        <span class="client-united-nations" title="United Nations">United Nations</span>
      </li>
      <li>
        <span class="client-iberdrola" title="Iberdrola">Iberdrola</span>
      </li>
      <li>
        <span class="client-indra" title="INDRA">INDRA</span>
      </li>
      <li>
        <span class="client-mapfre" title="Mapfre">Mapfre</span>
      </li>
      <li>
        <span class="client-movistar" title="Movistar">Movistar</span>
      </li>
    </ul>
  </div>
</section>