<section class="training-content section big">
  <hgroup class="row">
    <h1 class="columns">
      {{site.data[page.hl].indexTrainingTitle}}
      <small>{{site.data[page.hl].indexTrainingDesc}}</small>
    </h1>
  </hgroup>
  <div class="row">
    {% include course_intro.html query='from=google' logo='gcp' title='Google Cloud Platform' desc="googleCloudPlatformDesc" partnerDesc="googleTrainingPartner" %}
    {% include course_intro.html query="technology=spring" logo="spring" title="Spring" desc="springDesc" partnerDesc="springCertifiedPartner" %}
  </div>
</section>