<div>
  <div class="row">
    <nav class="box filter">
      <section class="box-content-part">
        <form class="row collapse">
          <div class="small-9 medium-10 columns">
            <input type="text" class="wide" placeholder="{{site.data[page.hl].IntroduceTextToSearch}}">
          </div>
          <div class="small-3 medium-2 columns">
            <button type="submit" class="button postfix">{{site.data[page.hl].Search}}</button>
          </div>
        </form>
        <ul class="tag-categories">
          {% for filter in site.data.filters %}
            <li>
              <div>
                <fieldset class="filter-fieldset">
                  <legend>{{site.data[page.hl][filter.name]}}</legend>
                  <ul class="category-values">
                    {% for value in filter.values %}
                      <li>
                        <a class="label radius secondary" data-value="{{value | downcase | replace: ' ', '-'}}" data-name="{{filter.name | downcase}}">
                          {% if filter.i18n %}
                            {{site.data[page.hl][value]}}
                          {% else %}
                            {{value}}
                          {% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </fieldset>
              </div>
            </li>
          {% endfor %}
        </ul>
        <script type="application/json" id="filters">
          {
          {% for filter in site.data.filters %}
            "{{filter.name | downcase}}": {
              "values": [
                {% for value in filter.values %}
                  "{{value | downcase | replace: ' ', '-'}}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
              ],
              "multiple": {{filter.multiple | default: "false"}}
            }{% if forloop.last == false %},{% endif %}
          {% endfor %}
          }
        </script>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="columns">
      <div class="subsidized-container">
        <div class="subsidized">
          <img src="/img/tripartita.png" alt="Fundación Tripartita" class="tripartita left">
          <div class="right">
            <span class="hide-for-medium-up">{{site.data[page.hl].subsidizedShort}}</span>
            <span class="show-for-medium-up">{{site.data[page.hl].subsidized}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="no-results hide">
  <div class="row">
    <div class="box">
      <div class="box-content-part">No results found</div>
    </div>
  </div>
</div>
<div class="courses">
  {% 
    include course.html
    course='CP100'
    logo='/img/logo-google-big.png'
    koliseoEvent="cp100-a"
    contactForPrice="true"
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 1d beginner cloud paas iaas big-data"
  %}
  {% 
    include course.html
    course='CPB100'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpb100"
    contactForPrice="true"
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 1d beginner big-data machine-learning cloud"
  %}
  {% 
    include course.html
    course='CPB101'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpb101-serverless-data-analysis-with-big-query-and-cloud-dataflow"
    price='495'
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 1d beginner big-data machine-learning cloud"
  %}
  {% 
    include course.html
    course='CPB102'
    logo='/img/logo-google-big.png'
    koliseoEvent="google-machine-learning-with-cloud-ml"
    price='495'
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 1d beginner machine-learning cloud"
  %}
  {% 
    include course.html
    course='CPA200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpa200-google-cloud-platform-architects-fundamentals"
    price='495'
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 1d beginner cloud paas iaas big-data"
  %}
  {% 
    include course.html
    course='CPB200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpb200-big-query-for-data-analysts"
    price='1,095'
    duration='duration24h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    newsletterLink="gcpNewsletter"
    newsletterDesc='suscribeToGcpNewsletter'
    labels="google 3d advanced big-data cloud"
  %}
  {% 
    include course.html
    course='CPD200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpd200"
    price='1,095'
    duration='duration24h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 3d advanced cloud iaas"
  %}
  {% 
    include course.html
    course='CPO200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpo200-google-cloud-platform-for-systems-operations-professionals1"
    price='1,395'
    duration='duration32h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 4d advanced cloud paas"
  %}
  {% 
    include course.html
    course='SpringCore'
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="spring-core" 
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
    newsletterLink='springNewsletter'
    newsletterDesc='suscribeToSpringNewsletter'
    labels="pivotal 4d advanced spring cloud web"
  %}
  {% 
    include course.html
    course='SpringWeb'
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="spring-web"
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
    labels="pivotal 4d advanced spring web"
  %}
  {% 
    include course.html
    course="SpringEnterprise"
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="enterprise-integration-with-spring"
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
    labels="pivotal 4d advanced spring big-data"
  %}
</div>