<div class="contain-to-grid sticky nested clearfix">
  <nav class="top-bar expanded" role="navigation" data-topbar>
    <section class="top-bar-section">
      <div class="row">
        <dl class="sub-nav column">
          <dd class="tab-title active">
            <a href="#google">Google</a>
          </dd>
          <dd class="tab-title">
            <a href="#spring">Spring</a>
          </dd>
          <dd class="tab-title">
            <a href="#big-data">Big Data</a>
          </dd>
        </dl>
      </div>
    </section>
  </nav>
  <div class="subsidized-container">
    <div class="row">
      <div class="column small-4 medium-2 large-1">
        <img src="/img/tripartita.png" alt="Fundación Tripartita" class="tripartita">
      </div>
      <div class="column small-8 medium-10 large-11 subsidized">
        <span class="show-for-small">{{site.data[page.hl].subsidizedShort}}</span>
        <span class="show-for-medium-up">{{site.data[page.hl].subsidized}}</span>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="anchor" id="google"></div>
  {% 
    include course.html
    course='CPB200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpb200-big-query-for-data-analysts"
    price='1,095'
    duration='duration24h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    newsletterLink="gcpNewsletter"
    newsletterDesc='suscribeToGcpNewsletter'
  %}
  {% 
    include course.html
    course='CPD200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpd200"
    price='1,095'
    duration='duration24h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
  %}
  {% 
    include course.html
    course='CPO200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpo200-google-cloud-platform-for-systems-operations-professionals1"
    price='1,395'
    duration='duration32h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
  %}
  {% 
    include course.html
    course='CP306A'
    logo='/img/logo-google-big.png'
    koliseoEvent="cp306-gestion-de-contenedores-docker-con-gke-y-kubernetes"
    price='495'
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
  %}
</div>
<div>
  <div class=".anchor" id="spring"></div>
  {% 
    include course.html
    course='SpringCore'
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="spring-core" 
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
    newsletterLink='springNewsletter'
    newsletterDesc='suscribeToSpringNewsletter'
  %}
  {% 
    include course.html
    course='SpringWeb'
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="spring-web"
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
  %}
  {% 
    include course.html
    course="SpringEnterprise"
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="enterprise-integration-with-spring"
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
  %}
  {% 
    include course.html
    course='SpringHibernate'
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="hibernate-with-spring"
    price='1,695'
    duration='duration24h'
    language='langEnEsIt'
    deprecated=true
  %}
</div>   
<div>
  <div class="anchor" id="big-data"></div>
  {% 
    include course.html
    course='PivotalHD'
    logo='/img/logo-pivotal.png'
    logoClass='logo-pivotal'
    koliseoEvent="processing-data-with-pivotal-hd"
    price='2,095'
    duration='duration32h'
    language='langEnIt'
  %}
</div>