<header class="contain-to-grid clearfix header">
  <div class="header-content">
    {% include navigation.html %}
    <div class="sections">
      <section class="develop">
        <div>
          <h1>{{site.data[page.hl].DevelopingAndConsultingTitle}}</h1>
          <p>{{site.data[page.hl].DevelopingAndConsultingDesc}}</p>
          <a class="button" href="/{{page.hl}}/studies">{{site.data[page.hl].SeeClients}}</a>
        </div>
      </section>
      <section class="training">
        <div>
          <h1>{{site.data[page.hl].TrainingLeadTitle}}</h1>
          <p>{{site.data[page.hl].TrainingLeadDesc}}</p>
          <a class="button round" href="/{{page.hl}}/courses">{{site.data[page.hl].SeeTraining}}</a>
        </div>
      </section>
    </div>
  </div>
</header>