@import url(http://fonts.googleapis.com/css?family=Exo);

//Variables   //
@barLinksColor: #7da6c6;
@barLinksHeight: 35px;
@backgroundNav: #f4f5f7;
@backgroundNavHover: #d8e1e8;

@langsNumber: 3;

@springColor: #abd33e;
@javaspecialistsColor: #ffb535;
@html5Color:#8ac1e5;

@springDarkColor: #81a42c;
@javaspecialistsDarkColor: #e96a27;
@html5DarkColor: #00619e;

//Mixins     //
.center() {
  margin-left: auto;
  margin-right: auto;
}

.hide-text() {
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}

.transition(@time, @type: ease) {
  -webkit-transition: all @time @type;
  -moz-transition: all @time @type;
  -o-transition: all @time @type;
}

.border-logos(@color) {
  border-color: @color;
  box-shadow: 0 1px 4px @color;
}

.transition-logos(@backgroundImage, @maskColor) {
  background: url(@backgroundImage) no-repeat 50% 50%;
  background-size: 120px;
  &:hover{
    background-size: 160px;
    background-position: 50% 50%;
    box-shadow: none;
  }

  & > a.thumbnail:hover {
    background-color: @maskColor;
    border-color: @maskColor;
    box-shadow: 0 1px 4px @maskColor;

    & > .caption > h4 {
      top: 10%;
    }

    & > .caption > p {
      top: 20%;
    }
  }
}

/* ESTILOS GENERALES */
body {
  background-color: #f9fbfb;
}

ul {
  margin-left: 0px;
  list-style: none;
}

.wrapper {
  max-width: 950px;
  .center();

  padding: 0 10px;

  & > .container-fluid {
    padding: 0;
  }
}

.thumbnails {
  margin-left: 0;
}

p {
  line-height:1.4em;
}

/* ***** */

/* HEADER */

.logo {

  background: #cddbe7;
  background: url('../images/fondo-degradado.png');
  background: url('../images/logo-fondo.png') no-repeat 50% 50%, url('../images/fondo-degradado.png');

  height: 100px;

  & > a {
      height: 100%;
      display: block;
      background: url('../images/logo-extrema_texto.png') no-repeat 50% 50%;

      .hide-text();
  }
}

.navbar-inner { //Bootstrap
  color: @barLinksColor;

  background: none;
  background-color: @backgroundNav;

  filter: none;
}

.nav > li > a, .dropdown-menu > li > a  {

  color: @barLinksColor !important;
  text-shadow: none !important;

  &:hover {
    background-color: @backgroundNavHover !important ;
  }
}

.caret {
  border-top-color: @barLinksColor !important;
  opacity: 1;
}

#btn-toggle {
  display: none;
}

.active-section {
  background-color: @backgroundNavHover !important ;
}

/* ***** */


/* HOME PAGE */

.courses {
  margin-bottom: 50px;

  & > li {

    .transition(.2s);
    overflow: hidden;

     & > a.thumbnail {
      padding: 0;
      .transition(.2s);
      display: block;
      height: 200px;
      color: white;
      border-radius: 0;

      &:hover {
        text-decoration: none;
      }

      & > .caption {
        height: 100%;
        padding: 0;

        & > h4 {
          .transition(.25s, ease-out);
          display: block;
          position: relative;
          top: -100%;

          text-align: center;
          font-family: 'Exo', sans-serif !important;
          font-weight:400;
          line-height:1.59em;
          font-size:1.6em;

          background-color: black;
          color: white;
        }

        & > p {
          .transition(.3s, ease-out);
          max-width: 200px;

          // text-align: center;

          margin-left: 10px;
          padding: 5px;

          position: relative;
          top: 150%;
        }
      }
    }

    &.javaspecialists {
      .transition-logos("../images/logo-javasp.png", fadeout(@javaspecialistsDarkColor, 20%);

    }

    &.html5 {
      .transition-logos("../images/logo-html5.png", fadeout(@html5DarkColor, 20%);
    }

    &.spring {
     .transition-logos("../images/logo-spring.png", fadeout(@springDarkColor, 20%);
    }
  }
}

span[class^="client-"] {
  display: block;
  float: left;
  width: 100px;
  height: 50px;
  margin: 0 10px;

  .hide-text();

  background-image: url(../images/clients.png);
  background-repeat: no-repeat;
}

.client-iberdrola {
  background-position: 0px 0px;
}

.client-bbva {
  background-position: -100px 0px;
}

.client-telefonica {
  background-position: -200px 0px;
}

.client-carrefour {
  background-position: -300px 0px;
}

.client-mapfre {
  background-position: -400px 0px;
}

.client-corteingles {
  background-position: -500px 0px;
}

.client-accenture {
  background-position: -600px 0px;
}

.client-atos {
  background-position: -700px 0px;
}

.client-aena {
  background-position: -800px 0px;
}

.client-indra {
  background-position: -900px 0px;
}

.client-everis {
  background-position: -1000px 0px;
}

.client-icm {
  background-position: -1100px 0px;
}

.client-bde {
  background-position: -1200px 0px;
}

/* ***** */

/* FOOTER */

footer {
  margin-top: 50px;
}

footer > .wrapper > a {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* ***** */

/* TEAM PAGE */

.about.well {
  box-sizing: border-box;
  margin-bottom: 40px;
}

.blog-extrema {
  font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  font-size: 60px;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

h3 > .label {
  margin-left: 20px;
  vertical-align: 20%;
}

.team-member {
  margin-bottom: 30px;

  & > h3 {
    margin-bottom: 10px;
  }
}

.details  {
  margin-bottom: 10px;
  position: relative;
}

.sociallinks {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;

  & > li {
    display: inline-block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    & > a {
      display: block;
      .hide-text();
      width: 50px;
      height: 50px;

      background: url(../images/sprite_social.png) no-repeat 0 -0px;
    }
  }
}

li.twitterlink > a {
  background-position: -50px 0px;
}

li.linkedinlink > a {
  background-position: -100px 0px;
}

li.wordpresslink > a {
  background-position: -150px 0px;
}
/* ***** */

/* COURSES PAGE */

#courses-pills {
  text-align: center;
  & > ul {
    display: inline-block;

    & > li {
      min-width: 10px;
    }

    & > .active > a {
      background-color: darken(@backgroundNav, 3%);
    }
  }
}

@backgroundCourseTitleHeight: 45px;
@courseDetailsHeight: 25px;
.courses-list {

  & > li {
    margin-bottom: 40px;

    & > h4 {
      height: @backgroundCourseTitleHeight;
      line-height: @backgroundCourseTitleHeight;
      padding-left: 20px;

      font-family: 'Exo', sans-serif !important;
      font-weight:400;
      font-size:1.6em;

      color: white;
      text-shadow: 0px 1px 0px rgba(100, 100, 100, 0.6);
    }
    & > p {
      margin-top: 20px;
    }

  }
}

.course-details {
  height: @courseDetailsHeight;
  line-height: @courseDetailsHeight;
  text-align: right;
  color: white;
  padding-right: 20px;
  text-shadow: 0px -1px rgba(150, 150, 150, 50%);
}

.course-heading(@backgroundURL, @backColor, @detailsColor) {
  .courses-list > li > h4 {
    background: @backColor url("../images/@{backgroundURL}") no-repeat 100% 0%;
  }
  .course-details {
    background-color: @detailsColor;
  }
}

.courses-list > li > h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#spring {
  .course-heading("fondo-spring.jpg", @springDarkColor, @springColor);
}

#javaspecialists {
  .course-heading("fondo-javaspecialists.jpg", @javaspecialistsDarkColor, @javaspecialistsColor);
}

#HTML5 {
  .course-heading("fondo-html5.jpg", @html5DarkColor, @html5Color);
}

.course-conditions {
  border: 1px solid #fbeed5;
  padding: 10px 30px 10px 15px;
  margin-bottom: 10px;
}

@starBackgroundColor: #e9eef4;

.star(@height, @color) {
  @padding: 2px;
  @total: @padding + @height;
  content: "\2605";
  display: block;
  text-align: center;
  height: 100%;
  width: @total;
  line-height: 100%;
  font-size: @total;
  color: @color;
  background-color: @starBackgroundColor;
  margin-right: 10px;
  text-shadow: 0px 1px rgba(150, 150, 150, 50%);
  z-index: -1;
}

@voucherHeight: 70px;

.voucher {
  border: 1px solid @starBackgroundColor;
  display: table;

  @height: 70px;
  height: @voucherHeight;

  & > p {
    display: table-cell;
    vertical-align: middle;

    @leftPadding: @voucherHeight;
    padding: 10px 20px 10px 0px;
  }
}

.voucher-javaspecialists {
  color: darken(@javaspecialistsColor, 20%);
  &:before {
    .star(@voucherHeight, @javaspecialistsColor);
  }
}

.voucher-html5 {
  color: darken(@html5Color, 20%);
  &:before {
    .star(@voucherHeight, @html5Color);
  }
}

.voucher-spring {
  color: darken(@springColor, 20%);
  &:before {
    .star(@voucherHeight, @springColor);
  }
}

.koliseo-widget {
  margin-bottom: 10px;
}

/* ***** */

/* FOLLOW US PAGE*/

.blog-header {
  margin-bottom: 20px;
}

.post {

  margin-bottom: 20px;

  overflow: hidden;

  & > img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.post-header {

  & > a {
    margin-bottom: 10px;
  }

  & > a:hover {
    text-decoration: none;
  }

}

.date {
  font-size: 11px;
}

.tweets-extrema > a {
  display: block;
  margin-bottom: 20px;
  color: black;

  &:hover {
    text-decoration: none;
  }
}

.tweet_time, .tweet_text {
  display: block;
  font-size: 11px;
  line-height: 25px;
}

.tweet_avatar {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}

.tweet_list > li {
  margin-bottom: 10px;
}

.tweet_time {
  text-align: right;
}

/* ***** */

/* CONTACT PAGE */

.alert-details {
  color: @barLinksColor;
  background-color: @backgroundNav;
  border-color: @backgroundNavHover;
}

.contact-form > .control-group {

  & > input {
    width: 60%;
  }

  & > textarea {
    width: 70%;
    resize: vertical;
  }
}

.required {
  color: red;
}

.contact-data address > p {
  margin-bottom: 0;
}

/* ***** */

@media (max-width: 580px) {

  [class*="span"] {
    margin-left: 0;
  }

  /* HEADER */

  .logo {
    height: 60px;

    & > a {
      background-size: auto 42px;
    }
  }

  .navbar-inner { //Bootstrap
    width: 100%;
    padding: 0;

    border-radius: 0;
  }

  .nav > li {
    text-align: center;
  }

  .nav-collapse {
    clear: right !important;
  }

  #btn-toggle {
    display: block;
    .hide-text();

    width: 100%;
    height: 40px;

    background: url('../images/arrow.png') no-repeat 50% 50%;
    background-size: auto 50%;

    cursor: pointer;


  }

  .nav > li > a, .dropdown-menu > li > a  {

    font-size: 15px;
    height: @barLinksHeight;
    line-height: @barLinksHeight !important;

    vertical-align: middle;
  }

  .dropdown > .dropdown-menu {
    // display: none;
  }

  .navbar .nav { //Overriding
    margin-bottom: 0;
  }

  .caret {
    margin-left: 6px;
    margin-top: 14px;
  }

  /* ***** */

  /* FOOTER */

  .navbar.visible-phone {
    ul {
      width: 100%;
      & > li {
        float: none;
      }
    }
  }

  #lang-pills > li {
      float: left;
      width: 99.9999%/@langsNumber;

      &.active > a {
        background-color: @backgroundNavHover;
      }
  }

  /* ***** */


  /* HOME PAGE */

  .thumbnail {
    max-width: 200px;
    .center();

    margin-bottom: 10px;
  }


  /* ***** */

  /* TEAM PAGE */

  .team-members > li {
    min-height: 0;
  }


  /* ***** */

  /* CONTACT PAGE */

  .contact-form > .control-group {

    & > input, & > textarea {
      width: 95%;
    }
  }

  /* ***** */
}