@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@barLinksColor: #7da6c6;
@barLinksHeight: 35px;
@backgroundNav: #f4f5f7;
@backgroundNavHover: #d8e1e8;

@langsNumber: 3;

.center() {
  margin-left: auto;
  margin-right: auto;
}

.hide-text() {
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}

body, p, h1, h2, h3, h4, h5 {
  font-family: RobotoRegular;
}

/* HEADER */

.logo {

  background: #d1dbe4;
  background: -moz-linear-gradient(top, #d1dbe4 0%, #9fb6c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1dbe4), color-stop(100%,#9fb6c8));
  background: -webkit-linear-gradient(top, #d1dbe4 0%,#9fb6c8 100%);
  background: -o-linear-gradient(top, #d1dbe4 0%,#9fb6c8 100%);
  background: -ms-linear-gradient(top, #d1dbe4 0%,#9fb6c8 100%);
  background: linear-gradient(top, #d1dbe4 0%,#9fb6c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1dbe4', endColorstr='#9fb6c8',GradientType=0 );

  height: 100px;

  & > a {
      height: 100%;
      display: block;
      background: url('../images/logo_extrema.png') no-repeat 50% 50%;

      .hide-text();

      background-size: auto 70%;
  }
}

.navbar-inner { //Bootstrap
  color: @barLinksColor; 

  background: none; 
  background-color: @backgroundNav;
}

.nav > li > a, .dropdown-menu > li > a  {

  color: @barLinksColor !important;
  text-shadow: none !important;

  &:hover {
    background-color: @backgroundNavHover !important ;
  }
}

.caret {
  border-top-color: @barLinksColor !important;
  opacity: 1;
}

#btn-toggle {
  display: none;
}

/* ***** */

/* MAIN SECTION */

.main {
  // max-width: 950px;
  // .center();
}


/* HOME PAGE */
ul.thumbnails {
  margin-left: 0;
}

.caption {
  text-align: center;
}

a.thumbnail {
  color: black;

  &:hover {
    text-decoration: none;
  }
}

/* ***** */

/* TEAM PAGE */

.team-members, .sociallinks {
  list-style: none;
}

.sociallinks {
  display: inline-block;
  overflow: hidden;
  margin:0;
  margin-top: 20px;   /*hace falta un alto estándar para la foto*/

  & > li {
    float:left;
    margin-left:4px;      
  }
}

.weblink a, .twitterlink a, .linkedinlink a {
  display: block;
  background: url(../images/sprite_social.png) no-repeat 0 -0px;
  height:25px;
  line-height:25px;
  padding-left:35px;
}

.weblink a {
  background-position: 0 -50px;
}

.linkedinlink a {
  background-position: 0 -25px;

}
/* ***** */

/* COURSES PAGE */

.courses-list {
  list-style: none;

  & > li {
      & > img {
        float: left;
        margin-top: 20px;
        margin-right: 20px;
      }

      & > p {
        overflow: hidden;
        margin-top: 20px;
      }
  }
}

@media (max-width: 580px) {
  /* HEADER */

  .navbar-inner { //Bootstrap
    width: 100%; 
    padding: 0; 

    border-radius: 0; 
  }

  .nav > li {
    text-align: center;
  }

  .nav-collapse {
    clear: right !important;
  }

  #btn-toggle {
    display: block;
    .hide-text();

    width: 100%;
    height: 40px;

    background: url('../images/arrow.png') no-repeat 50% 50%;
    background-size: auto 50%;

    cursor: pointer;


  }

  .nav > li > a, .dropdown-menu > li > a  {

    font-size: 15px;
    height: @barLinksHeight;
    line-height: @barLinksHeight !important;

    vertical-align: middle;
  }

  .dropdown > .dropdown-menu {
    // display: none;
  }

  .navbar .nav { //Overriding
    margin-bottom: 0;
  }

  .caret {
    margin-left: 6px;
    margin-top: 14px;
  }

  #lang-pills > li {
      float: left;
      width: 99.9999%/@langsNumber;

      &.active > a {
        background-color: @backgroundNavHover;
      }
  }

  /* ***** */

  /* FOOTER */

  footer > .navbar {
    margin-top: 50px;
  }

  /* ***** */

  /* HOME PAGE */

  .thumbnail {
    max-width: 200px;
    .center();

    margin-bottom: 10px;
  }


  /* ***** */

  /* TEAM PAGE */



  /* ***** */

}