@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* ESTILOS GENERALES */
body {
  background-color: #f9fbfb;
}
ul {
  margin-left: 0px;
  list-style: none;
}
.wrapper {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
.wrapper  > .container-fluid {
  padding: 0;
}
.thumbnails {
  margin-left: 0;
}
p {
  line-height: 1.4em;
}
/* ***** */
/* HEADER */
.logo {
  background: #cddbe7;
  background: url('../images/fondo-degradado.png');
  background: url('../images/logo-fondo.png') no-repeat 50% 50%, url('../images/fondo-degradado.png');
  height: 100px;
}
.logo  > a {
  height: 100%;
  display: block;
  background: url('../images/logo-extrema_texto.png') no-repeat 50% 50%;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}
.navbar-inner {
  color: #7da6c6;
  background: none;
  background-color: #f4f5f7;
  filter: none;
}
.nav > li > a,
.dropdown-menu > li > a {
  color: #7da6c6 !important;
  text-shadow: none !important;
}
.nav > li > a:hover,
.dropdown-menu > li > a:hover {
  background-color: #d8e1e8 !important;
}
.caret {
  border-top-color: #7da6c6 !important;
  opacity: 1;
}
#btn-toggle {
  display: none;
}
.active-section {
  background-color: #d8e1e8 !important;
}
/* ***** */
/* HOME PAGE */
.courses {
  margin-bottom: 50px;
}
.courses  > li {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  overflow: hidden;
}
.courses  > li  > a.thumbnail {
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: block;
  height: 200px;
  color: white;
  border-radius: 0;
}
.courses  > li  > a.thumbnail:hover {
  text-decoration: none;
}
.courses  > li  > a.thumbnail  > .caption {
  height: 100%;
  padding: 0;
}
.courses  > li  > a.thumbnail  > .caption  > h4 {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  display: block;
  position: relative;
  top: -100%;
  text-align: center;
  line-height: 1.59em;
  font-size: 1.6em;
  background-color: black;
  color: white;
}
.courses  > li  > a.thumbnail  > .caption  > p {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  max-width: 200px;
  margin-left: 10px;
  padding: 5px;
  position: relative;
  top: 150%;
}
.courses  > li.javaspecialists {
  background: url("../images/logo-javasp.png") no-repeat 50% 50%;
  background-size: 120px;
}
.courses  > li.javaspecialists:hover {
  background-size: 160px;
  background-position: 50% 50%;
  box-shadow: none;
}
.courses  > li.javaspecialists  > a.thumbnail:hover {
  background-color: rgba(233, 106, 39, 0.8);
  border-color: rgba(233, 106, 39, 0.8);
  box-shadow: 0 1px 4px rgba(233, 106, 39, 0.8);
}
.courses  > li.javaspecialists  > a.thumbnail:hover  > .caption > h4 {
  top: 10%;
}
.courses  > li.javaspecialists  > a.thumbnail:hover  > .caption > p {
  top: 20%;
}
.courses  > li.html5 {
  background: url("../images/logo-html5.png") no-repeat 50% 50%;
  background-size: 120px;
}
.courses  > li.html5:hover {
  background-size: 160px;
  background-position: 50% 50%;
  box-shadow: none;
}
.courses  > li.html5  > a.thumbnail:hover {
  background-color: rgba(0, 97, 158, 0.8);
  border-color: rgba(0, 97, 158, 0.8);
  box-shadow: 0 1px 4px rgba(0, 97, 158, 0.8);
}
.courses  > li.html5  > a.thumbnail:hover  > .caption > h4 {
  top: 10%;
}
.courses  > li.html5  > a.thumbnail:hover  > .caption > p {
  top: 20%;
}
.courses  > li.spring {
  background: url("../images/logo-spring.png") no-repeat 50% 50%;
  background-size: 120px;
}
.courses  > li.spring:hover {
  background-size: 160px;
  background-position: 50% 50%;
  box-shadow: none;
}
.courses  > li.spring  > a.thumbnail:hover {
  background-color: rgba(129, 164, 44, 0.8);
  border-color: rgba(129, 164, 44, 0.8);
  box-shadow: 0 1px 4px rgba(129, 164, 44, 0.8);
}
.courses  > li.spring  > a.thumbnail:hover  > .caption > h4 {
  top: 10%;
}
.courses  > li.spring  > a.thumbnail:hover  > .caption > p {
  top: 20%;
}
span[class^="client-"] {
  display: block;
  float: left;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../images/clients.png);
  background-repeat: no-repeat;
}
.client-iberdrola {
  background-position: 0px 0px;
}
.client-bbva {
  background-position: -100px 0px;
}
.client-telefonica {
  background-position: -200px 0px;
}
.client-carrefour {
  background-position: -300px 0px;
}
.client-mapfre {
  background-position: -400px 0px;
}
.client-corteingles {
  background-position: -500px 0px;
}
.client-accenture {
  background-position: -600px 0px;
}
.client-atos {
  background-position: -700px 0px;
}
.client-aena {
  background-position: -800px 0px;
}
.client-indra {
  background-position: -900px 0px;
}
.client-everis {
  background-position: -1000px 0px;
}
.client-icm {
  background-position: -1100px 0px;
}
.client-bde {
  background-position: -1200px 0px;
}
/* ***** */
/* FOOTER */
footer {
  margin-top: 50px;
}
footer > .wrapper > a {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
}
/* ***** */
/* TEAM PAGE */
.about.well {
  box-sizing: border-box;
  margin-bottom: 40px;
}
.about.well  > h2 {
  margin-bottom: 10px;
}
.about.well  > .details > ul {
  margin-bottom: 0px;
  vertical-align: baseline;
}
h3 > .label {
  margin-left: 20px;
  vertical-align: 20%;
}
.team-member {
  margin-bottom: 30px;
}
.team-member  > h3 {
  margin-bottom: 10px;
}
.details {
  margin-bottom: 10px;
  position: relative;
}
.sociallinks {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
}
.sociallinks  > li {
  display: inline-block;
  margin-right: 15px;
}
.sociallinks  > li:last-child {
  margin-right: 0;
}
.sociallinks  > li  > a {
  display: block;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  width: 50px;
  height: 50px;
  background: url(../images/sprite_social.png) no-repeat;
  background-position: -150px 0;
}
.sociallinks  > li  > a:hover {
  background-position: 0px 0;
}
li.twitterlink > a {
  background-position: -250px 0;
}
li.twitterlink > a:hover {
  background-position: -100px 0;
}
li.twitterbiglink > a {
  background-position: -400px 0;
}
li.twitterbiglink > a:hover {
  background-position: -300px 0;
}
li.linkedinlink > a {
  background-position: -200px 0;
}
li.linkedinlink > a:hover {
  background-position: -50px 0;
}
li.wordpresslink > a {
  background-position: -450px 0;
}
li.wordpresslink > a:hover {
  background-position: -350px 0;
}
/* ***** */
/* COURSES PAGE */
#courses-pills  > ul {
  display: inline-block;
}
#courses-pills  > ul  > li {
  min-width: 10px;
}
.courses-list  > li {
  margin-bottom: 40px;
}
.courses-list  > li  > h4 {
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  font-size: 1.6em;
  color: white;
  text-shadow: 0px 1px 0px rgba(100, 100, 100, 0.6);
}
.courses-list  > li  > p {
  margin-top: 20px;
}
.course-details {
  height: 25px;
  line-height: 25px;
  text-align: right;
  color: white;
  padding-right: 20px;
  text-shadow: 0px -1px rgba(150, 150, 150, 0.5);
}
.courses-list > li > h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#spring .courses-list > li > h4 {
  background: #81a42c url("../images/fondo-spring.jpg") no-repeat 100% 0%;
}
#spring .course-details {
  background-color: #abd33e;
}
#javaspecialists .courses-list > li > h4 {
  background: #e96a27 url("../images/fondo-javaspecialists.jpg") no-repeat 100% 0%;
}
#javaspecialists .course-details {
  background-color: #ffb535;
}
#HTML5 .courses-list > li > h4 {
  background: #00619e url("../images/fondo-html5.jpg") no-repeat 100% 0%;
}
#HTML5 .course-details {
  background-color: #8ac1e5;
}
.course-conditions {
  border: 1px solid #fbeed5;
  padding: 10px 30px 10px 15px;
  margin-bottom: 10px;
}
.voucher {
  border: 1px solid #e9eef4;
  display: table;
  height: 70px;
}
.voucher  > p {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 20px 10px 0px;
}
.voucher-javaspecialists {
  color: #ce8300;
}
.voucher-javaspecialists:before {
  content: "\2605";
  display: block;
  text-align: center;
  height: 100%;
  width: 72px;
  line-height: 100%;
  font-size: 72px;
  color: #ffb535;
  background-color: #e9eef4;
  margin-right: 10px;
  text-shadow: 0px 1px rgba(150, 150, 150, 0.5);
  z-index: -1;
}
.voucher-html5 {
  color: #3795d2;
}
.voucher-html5:before {
  content: "\2605";
  display: block;
  text-align: center;
  height: 100%;
  width: 72px;
  line-height: 100%;
  font-size: 72px;
  color: #8ac1e5;
  background-color: #e9eef4;
  margin-right: 10px;
  text-shadow: 0px 1px rgba(150, 150, 150, 0.5);
  z-index: -1;
}
.voucher-spring {
  color: #6e8b20;
}
.voucher-spring:before {
  content: "\2605";
  display: block;
  text-align: center;
  height: 100%;
  width: 72px;
  line-height: 100%;
  font-size: 72px;
  color: #abd33e;
  background-color: #e9eef4;
  margin-right: 10px;
  text-shadow: 0px 1px rgba(150, 150, 150, 0.5);
  z-index: -1;
}
.koliseo-widget {
  margin-bottom: 10px;
}
/* ***** */
/* FOLLOW US PAGE*/
.blog-header {
  margin-bottom: 20px;
}
.post {
  margin-bottom: 20px;
  overflow: hidden;
}
.post  > img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.post-header  > a {
  margin-bottom: 10px;
}
.post-header  > a:hover {
  text-decoration: none;
}
.date {
  font-size: 11px;
}
.tweets-extrema > a {
  display: block;
  margin-bottom: 20px;
  color: black;
}
.tweets-extrema > a:hover {
  text-decoration: none;
}
.tweet_time,
.tweet_text {
  display: block;
  font-size: 11px;
  line-height: 25px;
}
.tweet_avatar {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}
.tweet_list > li {
  margin-bottom: 10px;
}
.tweet_time {
  text-align: right;
}
/* ***** */
/* CONTACT PAGE */
.alert-details {
  color: #7da6c6;
  background-color: #f4f5f7;
  border-color: #d8e1e8;
}
.contact-form > .control-group  > input {
  width: 60%;
}
.contact-form > .control-group  > textarea {
  width: 70%;
  resize: vertical;
}
.required {
  color: red;
}
.contact-data address > p {
  margin-bottom: 0;
}
/* ***** */
@media (max-width: 580px) {
  [class*="span"] {
    margin-left: 0;
  }
  /* HEADER */
  .logo {
    height: 60px;
  }
  .logo  > a {
    background-size: auto 42px;
  }
  .navbar-inner {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .nav > li {
    text-align: center;
  }
  .nav-collapse {
    clear: right !important;
  }
  #btn-toggle {
    display: block;
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    background: url('../images/arrow.png') no-repeat 50% 50%;
    background-size: auto 50%;
    cursor: pointer;
  }
  .nav > li > a,
  .dropdown-menu > li > a {
    font-size: 15px;
    height: 35px;
    line-height: 35px !important;
    vertical-align: middle;
  }
  .navbar .nav {
    margin-bottom: 0;
  }
  .caret {
    margin-left: 6px;
    margin-top: 14px;
  }
  /* ***** */
  /* FOOTER */
  .navbar.visible-phone ul {
    width: 100%;
  }
  .navbar.visible-phone ul  > li {
    float: none;
  }
  #lang-pills > li {
    float: left;
    width: 33.3333%;
  }
  #lang-pills > li.active > a {
    background-color: #d8e1e8;
  }
  /* ***** */
  /* HOME PAGE */
  .thumbnail {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  /* ***** */
  /* TEAM PAGE */
  .team-members > li {
    min-height: 0;
  }
  /* ***** */
  /* CONTACT PAGE */
  .contact-form > .control-group  > input,
  .contact-form > .control-group  > textarea {
    width: 95%;
  }
  /* ***** */
}
