$client-section-bg-color: #d0e2eb;

.studies-container {
  margin-top: 20px;
}

.case-studies {
  margin-top: 40px;
}

.case-study {
  margin-bottom: 40px !important;
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.clients-section {
  padding-bottom: 1.25rem;
  li {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.consulting {
  background-color: $client-section-bg-color;
  h1 {
    color: $jet;
    small {
      color: $oil;
    }
  }
}

.consulting-img {
  max-width: 300px;
  width: 100%;
  display: inline-block;
}

.consulting-content {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  @media #{$medium-up} {
    flex-direction: row;
  }
}

.case-study-img {
  margin-bottom: 20px;
  max-width: 200px;
  @media #{$medium-up} {
    margin-bottom: 0;
    max-width: 100%;
  }
}

@media #{$medium-up} {
  .consulting-content {
    flex-direction: row;
  }
}

span[class^=client-] {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  width: 100px;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(/img/clients.png);
  background-size: 1300px;
  background-repeat: no-repeat;
}

.client-iberdrola {
  background-position: 0 0
}
.client-bbva { 
  background-position: -100px 0
}
.client-movistar {
  background-position: -200px 0
}
.client-carrefour {
  background-position: -300px 0
}
.client-mapfre {
  background-position: -400px 0
}
.client-corteingles {
  background-position: -500px 0
}
.client-accenture {
  background-position: -600px 0
}
.client-atos {
  background-position: -700px 0
}
.client-aena {
  background-position: -800px 0
}
.client-indra {
  background-position: -900px 0
}
.client-icm {
  background-position: -1000px 0
}
.client-united-nations {
  background-position: -1100px 0
}
.client-bde {
  background-position: -1200px 0
}