.course-contents {
  overflow: hidden;
  transition: all 300ms ease-out;
}

.subsidized-container {
  padding: 1rem;
  background: #FFFFB7;
  border: 1px solid #FFEBB7;
}

.subsidized {
  font-size: 80%;
  color: #777;
  display: flex;
  align-items: center;
}

.tripartita {
  margin-right: 10px;
  width: 100px;
}

.certification {
  background: #FFFFB7;
  padding: 10px;
  border: 1px solid #FFEBB7;  
  .icon {
    color: #E36736;
  }
  .icon {
    font-size: 15px;
  }
}

.pricing-table {

  * {
    line-height: inherit;
  }

  .price {
    border-bottom: solid 1px #ddd;
    color: #666;
    overflow: hidden;

    .deprecated {
      margin-top: 5px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .description {
    color: #444;

    p, ul {
      font-size: 100%;
      margin-bottom: 0;
      margin-top: 20px;
    }

    ul li {
      list-style-type: circle;
    }

  }

}

.price-vat {
  font-size: 1rem;
  margin-top: -5px;
}

.logo-spring-big {
  max-height: 100px;
}

.logo-pivotal {
  max-height: 65px;
}

.button {
  font-size: 1rem;
}

.button:not(:last-child) {
  margin-right: 5px;
}

.currency {
  font-size: 80%;
}

.newsletter {
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  .email {
    width: 100%;
  }
  .button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: $newsletter-bg-color;
    color: $newsletter-color;
    border-color: $newsletter-bg-color;
    border-radius: 5px;
    &:hover, &:focus {
      background-color: scale-color($newsletter-bg-color, $lightness: -20%);
      border-color: scale-color($newsletter-bg-color, $lightness: -20%);
    }
  }
}

.tag-categories {
  list-style: none;
  margin: 0;
  li {
    display: inline;
  }
}

.filter-fieldset {
  display: inline-block;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 0;

  legend {
    font-variant: small-caps;
    color: #777;
  }
}

.category-values {
  margin: 0;
}

.label {
  margin-top: 5px;
  &.active {
    background-color: $blue;
    border-color: scale-color($blue, $lightness: -20%);
    color: white;
  }
}

.course-container.cloud {
  .logo-container {
    max-height: 140px;
  }
  .training-logo {
    width: 180px;
  }
}

@media #{$medium-up} {
  .course-container {
    display: flex;
    align-items: center;
  }
}