$develop-button-bg-color: #eb5255;
$training-button-bg-color: #34495e;

.top-bar {
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
  .top-bar-section {
    ul {
      width: auto;
      li a {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    a {
      transition: background 1s ease-out;
    }
    .has-dropdown > a:hover:after {
      border-color: rgba($jet, 0.4) transparent transparent transparent;
    }
  }
  &.expanded {
    overflow: visible;
    .top-bar-section {
      z-index: 9;
      position: absolute;
      right: 25px;
    }
  }
}

.contain-to-grid {
  .top-bar {
    max-width: 100%;
    width: 100%;
    background: transparent;
    overflow: visible;
    a:not(.top-logo) {
      &:hover, &:focus {
        text-decoration: none !important;
        background-color: $white !important;
        color: $jet !important;
        border-radius: 3px;
      }
    }
    &.expanded {
      .title-area {
        background: transparent;
      }
      .top-bar-section  {
        top: 70px;
        ul {
          background: $jet;
        }
      }
    }
  }
  .toggle-topbar.menu-icon {
    a:hover, a:focus {
      background-color: transparent !important;
      color: $white !important;
    }
  }
  .top-bar-section {
    @media #{$small-only} {
      z-index: -1;
    }
    
    ul li {
      background: transparent;
    }
    li:not(.has-form) a:not(.button) {
      background: transparent;
    }
    .dropdown li:not(.has-form):not(.active)>a:not(.button) {
      background: transparent;
    }
  }
}

.top-logo {
  height: 32px;
  text-indent: -10000px;
  overflow: hidden;
  background: url('../img/extrema.png') no-repeat 0 0;
  background-size: contain;
  margin-top: 20px;
  margin-left: 15px;
  float: left;
  font-size: 32px;
  min-width: 185px;
}

.header {
  background: url('/img/background.jpg') no-repeat center center fixed;
  background-size: cover; 
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header-content {
  background: rgba(34, 35, 46, 0.83);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sections {
  display: flex;
  height: 100%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
}
.develop, .training {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #fff;
  padding: 0 40px;
  text-align: center;
}
section.top-bar-section {
  padding: 0;
}
.sections section h1 {
  color: #fff;
}
.sections .button {
  margin: 0;
}
.develop .button {
  background-color: $develop-button-bg-color;
}
.training .button {
  background-color: $training-button-bg-color;
}

.section.big {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media #{$medium-up} {
  .header {
    background-image: url('/img/background-medium.jpg');
  }
  .sections {
    flex-direction: row;
  }
  .develop, .training {
    width: 50%;
  }
}

@media #{$large-up} {
  .header {
    background-image: url('/img/background-big.jpg');
  }
}