.kcontainer {
  opacity: 1;
  transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  overflow: hidden;
  &:empty {
    opacity: 0;
  }
}

.kperformances {
  list-style: none;
  margin-left: 0;
}

.kticket-soldout {
  color: #c43c35;
  text-decoration: line-through;
} 
.kticket-danger {
  color: #c43c35 !important;
}
.kticket-warning {
  color: #f89406 !important;
}
.kperflink:hover, .kperflink:focus {
  text-decoration: underline;
}

.kcontrol {
  padding: 20px;
  background-color: #e7e7e7;
  color: #333;
  border-radius: 3px;
  transition: background-color 300ms ease-out;
  &:hover, &:focus {
    background-color: #b9b9b9;
    color: #333;
  }
}

.kaddr {
  font-size: 80%;
}