include ../includes/courses-list
-var courses = items


ul.nav.nav-pills
    mixin courseTab('Javaspecialists', 'javaspecialists')
    mixin courseTab('HTML5', 'HTML5')
    mixin courseTab('Spring', 'spring')
.container-fluid
  .span8.tab-content
    mixin courseContent('Javaspecialists', 'javaspecialists')
    mixin courseContent('HTML5', 'HTML5')
    mixin courseContent('Spring', 'spring')
-if(user) {
a(href="/courses/new").btn New
-}
script
  $(function() {
    //location.hash && 
  });