extends ../layouts/layout

include ../includes/courses-list

append content
  -var courses = items
  .container-fluid
    div#courses-pills
      ul.nav.nav-pills
          mixin courseTab('Javaspecialists', 'javaspecialists')
          mixin courseTab('HTML5', 'HTML5')
          mixin courseTab('Spring', 'spring')
    .row-fluid
      .span8.tab-content
        mixin courseContent('Javaspecialists', 'javaspecialists')
        mixin courseContent('HTML5', 'HTML5')
        mixin courseContent('Spring', 'spring')
        if(user)
          a(href="/courses/new").btn.btn-large.btn-info New
      .span4

block append scripts
  script
    if(location.hash) {
      $('li > [href=' + location.hash + ']').parent().addClass('active')
      $(location.hash).addClass('active')
    } else {
      $('li > [href=#javaspecialists]').parent().addClass('active')
      $('#javaspecialists').addClass('active')
    }