extends ../layouts/layout

append content
  .container-fluid.training
    ul.thumbnails.row-fluid.courses
      li.span4
        a(href="/courses#javaspecialists").thumbnail.javaspecialists
          .caption
            h4 Javaspecialists
            p !{__('javasp-thumb')}
      li.span4
        a(href="/courses#HTML5").thumbnail.html5
          .caption
            h4 HTML5 and CSS3
            p !{__('HTML5-thumb')}
      li.span4
        a(href="/courses#spring").thumbnail.spring
          .caption
            h4 Spring
            p !{__('spring-thumb')}
  .row-fluid.clients
    .span12
      span.client-accenture Accenture
      span.client-aena AENA
      span.client-atos Atos
      span.client-bbva BBVA
      span.client-bde Banco de España
      span.client-carrefour Carrefour
      span.client-corteingles El Corte Inglés
      span.client-everis Everis
      span.client-iberdrola Iberdrola
      span.client-icm ICM
      span.client-indra INDRA
      span.client-mapfre Mapfre
      span.client-telefonica Telefónica