<div>
  <div class="row">
    <nav class="box filter">
      <section class="box-content-part">
        <form class="row collapse">
          <div class="small-9 medium-10 columns">
            <input type="text" class="wide" placeholder="{{site.data[page.hl].IntroduceTextToSearch}}">
          </div>
          <div class="small-3 medium-2 columns">
            <button type="submit" class="button postfix">{{site.data[page.hl].Search}}</button>
          </div>
        </form>
        <ul class="tag-categories">
          {% for filter in site.data.filters %}
            <li>
              <fieldset class="filter-fieldset">
                <legend>{{site.data[page.hl][filter.name]}}</legend>
                <ul class="category-values">
                  {% for value in filter.values %}
                    <li>
                      <a class="label radius secondary" data-value="{{value | downcase | replace: ' ', '-'}}" data-name="{{filter.name | downcase}}">
                        {% if filter.i18n %}
                          {{site.data[page.hl][value]}}
                        {% else %}
                          {{value}}
                        {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </fieldset>
            </li>
          {% endfor %}
        </ul>
        <script type="application/json" id="filters">
          {
          {% for filter in site.data.filters %}
            "{{filter.name | downcase}}": {
              "values": [
                {% for value in filter.values %}
                  "{{value | downcase | replace: ' ', '-'}}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
              ],
              "multiple": {{filter.multiple | default: "false"}}
            }{% if forloop.last == false %},{% endif %}
          {% endfor %}
          }
        </script>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="columns">
      <div class="subsidized-container">
        <div class="subsidized">
          <img src="/img/tripartita.png" alt="Fundación Tripartita" class="tripartita left">
          <div class="right">
            <span class="hide-for-medium-up">{{site.data[page.hl].subsidizedShort}}</span>
            <span class="show-for-medium-up">{{site.data[page.hl].subsidized}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="newsletter box show">
      <span class="close">
        <svg viewbox="0 0 40 40">
          <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
        </svg>
      </span>
      <div class="box-content-part">
        <form action="{{site.data[page.hl].newsletter}}" method="post" name="mc-embedded-subscribe-form" target="_blank" rel="noopener noreferrer" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">
              <h2>{{site.data[page.hl].suscribeToNewsletter}}</h2>
            </label>
            <p>{{site.data[page.hl].suscribeToNewsletterDesc}}</p>
            <div class="newsletter-form">
              <input class="email" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email" required>
              <input type="submit" value="{{site.data[page.hl].Subscribe}}" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_6b2bcf54ecc61ae4b7f084a25_e0033eb79a" tabindex="-1" value="">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="no-results hide">
  <div class="row">
    <div class="box">
      <div class="box-content-part">No results found</div>
    </div>
  </div>
</div>
<div class="courses">
  {% 
    include course.html
    course='KubernetesAndGKEAdvanced'
    logo='/img/kubernetes.svg'
    koliseoEvent="kubernetes-master-class"
    price="390"
    duration='duration6h'
    language='langEnEs'
    labels="google 6h advanced cloud containers iaas"
  %}
  {% 
    include course.html
    course='CP100'
    logo='/img/logo-google-big.png'
    koliseoEvent="cp100-a"
    contactForPrice="true"
    duration='duration8h'
    language='langEnEs'
    labels="google 1d beginner cloud paas iaas big-data"
  %}
  {% 
    include course.html
    course='GCPFromDataToInsights'
    logo='/img/logo-google-big.png'
    koliseoEvent="from-data-to-insights"
    price="890"
    duration='duration16h'
    language='langEnEs'
    certDesc='gcpCertClarification'
    labels="google 2d beginner big-data machine-learning cloud"
  %}
  {% 
    include course.html
    course='CPB100'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpb100"
    contactForPrice="true"
    duration='duration8h'
    language='langEnEs'
    labels="google 1d beginner big-data machine-learning cloud"
  %}
  {% 
    include course.html
    course='GCPDataEngineering'
    logo='/img/logo-google-big.png'
    koliseoEvent="data-engineering-on-google-cloud-platform"
    price="1,650"
    duration='duration32h'
    language='langEnEs'
    certDesc='gcpCertClarification'
    labels="google 4d advanced cloud big-data machine-learning"
  %}
  {% 
    include course.html
    course='GCPArchitectingInfrastructure'
    logo='/img/logo-google-big.png'
    koliseoEvent="architecting-with-google-cloud-platform-infrastructure"
    price='1,290'
    duration='duration24h'
    language='langEnEs'
    certDesc='gcpCertClarification'
    labels="google 3d advanced cloud iaas containers"
  %}
  {% 
    include course.html
    course='GCPArchitectingDesignAndProcess'
    logo='/img/logo-google-big.png'
    koliseoEvent="gcp-architecting-design-and-process"
    price='890'
    duration='duration16h'
    language='langEnEs'
    certDesc='gcpCertClarification'
    labels="google 2d advanced cloud iaas"
  %}
  {% 
    include course.html
    course='DevelopingApplicationsWithGCP'
    logo='/img/logo-google-big.png'
    koliseoEvent="developing-apps-with-gcp"
    price='1,290'
    duration='duration24h'
    language='langEnEs'
    certDesc='gcpCertClarification'
    labels="google 3d advanced cloud iaas containers machine-learning"
  %}
  {% 
    include course.html
    course='GCPForAWSProfessionals'
    logo='/img/logo-google-big.png'
    koliseoEvent="gcp-for-aws-professionals"
    price='390'
    duration='duration6h'
    language='langEnEs'
    certDesc='gcpCertClarification'
    labels="google 6h advanced cloud iaas paas containers big-data machine-learning"
  %}
  {% 
    include course.html
    course='KubernetesAndGKE'
    logo='/img/logo-google-big.png'
    koliseoEvent="getting-started-with-k8s-and-gke"
    price='450'
    duration='duration8h'
    language='langEnEs'
    certDesc='gcpCertClarification'
    labels="google 1d beginner cloud iaas containers"
  %}
  
  {% 
    include course.html
    course='CPB101'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpb101-serverless-data-analysis-with-big-query-and-cloud-dataflow"
    price='495'
    deprecated='true'    
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'    
    labels="google 1d beginner big-data machine-learning cloud"
  %}
  {% 
    include course.html
    course='CPB102'
    logo='/img/logo-google-big.png'
    koliseoEvent="google-machine-learning-with-cloud-ml"
    price='495'
    deprecated="true"
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 1d beginner machine-learning cloud"
  %}
  {% 
    include course.html
    course='CPA200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpa200-google-cloud-platform-architects-fundamentals"
    price='495'
    deprecated="true"
    duration='duration8h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    labels="google 1d beginner cloud paas iaas big-data"
  %}
  {% 
    include course.html
    course='CPB200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpb200-big-query-for-data-analysts"
    price='1,095'
    deprecated="true"
    duration='duration24h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    certDesc='gcpCertClarification'
    labels="google 3d advanced big-data cloud"
  %}
  {% 
    include course.html
    course='CPD200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpd200"
    price='1,095'
    duration='duration24h'
    language='langEnEs'
    deprecated="true"
    creditCardRequired='creditCardRequired'
    certDesc='gcpCertClarification'
    labels="google 3d advanced cloud iaas"
  %}
  {% 
    include course.html
    course='CPO200'
    logo='/img/logo-google-big.png'
    koliseoEvent="cpo200-google-cloud-platform-for-systems-operations-professionals1"
    price='1,395'
    deprecated="true"
    duration='duration32h'
    language='langEnEs'
    creditCardRequired='creditCardRequired'
    certDesc='gcpCertClarification'
    labels="google 4d advanced cloud iaas"
  %}

  {% 
    include course.html
    course='SpringCore'
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="spring-core" 
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
    certDesc='springCertClarification'
    labels="pivotal 4d advanced spring cloud web"
  %}
  {% 
    include course.html
    course='SpringWeb'
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="spring-web"
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
    certDesc='springCertClarification'
    labels="pivotal 4d advanced spring web"
  %}
  {% 
    include course.html
    course="SpringEnterprise"
    logo='/img/logo-spring-big.png'
    logoClass='logo-spring-big'
    koliseoEvent="enterprise-integration-with-spring"
    price='1,975'
    duration='duration32h'
    language='langEnEsIt'
    certDesc='springCertClarification'
    labels="pivotal 4d advanced spring big-data"
  %}
</div>