<section class="training-content section big">
  <hgroup class="row">
    <h1 class="columns">
      {{site.data[page.hl].indexTrainingTitle}}
      <small>{{site.data[page.hl].indexTrainingDesc}}</small>
    </h1>
  </hgroup>
  <div class="row">
    {% include course_intro.html logo='logo-gcp.png' title='Google Cloud' desc="googleCloudPlatformDesc" partnerDesc="googleTrainingPartner" %}
    {% include course_intro.html logo="logo-spring.png" title="Spring" desc="springDesc" partnerDesc="springCertifiedPartner" %}
    {% include course_intro.html logo="cloud.png" title="Cloud Computing" desc="cloudComputingDesc" class="cloud" %}
    {% include course_intro.html logo="big-data.png" title="Big Data" desc="bigDataDesc" %}
  </div>
</section>