<div class="columns">
  <article class="course-container row {{include.class}}">
    <div class="column small-12 medium-3 training-logo-container logo-container text-center">
      <img class="training-logo" src="/img/{{include.logo}}" alt="{{include.title}}">
    </div>
    <div class="column small-12 medium-9">
      <h4 class="small-only-text-center">
        {{include.title}}
      </h4>
      <p>
        {{site.data[page.hl][include.desc]}}
      </p>
      {% if include.partnerDesc != null %}
        <p class="certification">
          <span class="icon icon-star">{{site.data[page.hl][include.partnerDesc]}}</span>
        </p>
      {% endif %}
    </div>
  </article>
</div>