<section class="training-partners section big">
  <h1>Official Training Partners</h1>
  <div class="row logos">
    <div class="column small-12 text-center">
      <a href="/{{page.hl}}/courses?from=google"><img class="gcp-logo" src="/img/logo-google-white-big.png" alt="Google Cloud Platform Training Partner"></a>
    </div>
    <div class="column small-12 text-center">
      <a href="/{{page.hl}}/courses?from=pivotal"><img class="logo-spring-big" src="/img/logo-spring-white-big.png" alt="Pivotal Official Training Partner" style="margin-right: 10px"></a>
    </div>
  </div>
</section>