<article class="section row">
  <hgroup class="column">
    <h1>
      {{site.data[page.hl].CaseStudies}}
      <small>{{site.data[page.hl].consultingDesc}}</small>
    </h1>
  </hgroup>
  {% include case_studies.html %}
</article>
<hr>
<section class="row">
  <hgroup class="column">
    <h1>{{site.data[page.hl].doWeHaveYourAttention}}</h1>
  </hgroup>
</section>
<div class="row">
  <div class="column">
    <p>{{site.data[page.hl].attentionDesc}}</p>
    <p><a class="button radius" href="/{{page.hl}}/contact">{{site.data[page.hl].getInContact}}</a></p>
  </div>
</div>
{% include clients.html %}