ul.unstyled.case-studies.columns
  mixin study(title, image, desc)
    li.row
      div.img-column
        img.case-study-img(src="/img/" + image, alt=title title=title)
      p.content-column
        != desc
  +study("Aena", "logo-aena.png", AenaDesc)
  +study("Indra", "logo-indra.png", IndraDesc)
  +study("Banco de España", "logo-banco-espana.gif", BdeDesc)
  +study("BBVA", "logo-bbva.png", BBVADesc)
  +study("ONU", "logo-onu.gif", ONUDesc)