ul.unstyled.case-studies.columns
  mixin study(title, image, desc)
    li.row
      div.column.small-12.medium-3
        img(src="/img/" + image, alt=title title=title)
      p.column.small-12.medium-9 
        != desc
  +study("Aena", "logo-aena.png", AenaDesc)
  +study("Indra", "logo-indra.png", IndraDesc)
  +study("Banco de España", "logo-banco-espana.gif", BdeDesc)
  +study("BBVA", "logo-bbva.png", BBVADesc)
  +study("ONU", "logo-onu.gif", ONUDesc)