extends ../../layouts/layout

append content
  a(class="btn btn-warning pull-right", href="/courses#html5-training") Torna ai corsi
  h1 HTML5 e CSS3
  hr
  dl.dl-horizontal
    dt Durata:
    dd 24 ore
    dt Lingua: 
    dd Il corso é in italiano ma in modalità in-house può essere impartito anche in inglese. 
    dt A chi é rivolto:
    dd Designer e sviluppatori web server side (java, python, ruby). E' consigliabile aver maturato un'esperienza minima di un anno nello sviluppo di applicazioni web (HTML e CSS). Non é richiesta alcuna esperienza in Javascript. 
    dt Requisiti:
    dd Ogni alunno deve portare con sé un laptop ed avere un administrator account. Sono preferibili Windows (XP, Vista, 7) o Linux, con i quali l'istruttore ha maggior familiarità. Altri software tool saranno installati durante i laboratori. Nei corsi in modalitá in-house, é necessaria una connessione Internet per tutti.
  hr

  .row-fluid
    section#goals.span6
      h2 Obiettivi
      p Lo scopo del corso é:
      ul.bullets
        li <b>Separare contenuto e presentazione</b> 
        li Introdurre i <b>nuovi tag disponibili nell'HTML5.</b>.
        li Introdurre i <b>nuovi selettori disponibili nel CSS3</b>.
        li Introdurre le <b>basi di JavaScript e JQuery</b>.
        li Applicare i <b>new form elements e le regole di validazione di HTML5</b>.
        li Comprendere il <b>market share dei browser</b>, specialmente rispetto ad Internet Explorer.
        li Imparare come <b>semplificare il proprio codice HTML</b>.
        li Introdurre vari <b>framework CSS</b> (Twitter Bootstrap, Compass).
        li <b>Migliorare le performance</b> riducendo il traffico tra browser e server.
        li <b>Migliorare l'accessibilità</b>.
        li Ottimizzare il <b>posizionamento nei motori di ricerca</b>.
        li Mantenere un'immagine omogenea includendo <b>legacy browser senza il supporto HTML5 o CSS3</b>.
        li Imparare a scrivere <b>stylesheet CSS alternativi per la stampa</b>.
        li Imparare ad applicare <b>responsive design</b>.
        li <b>Introdurre nuove fonti</b> oltre a web safe. 
        li Imparare <b>nuovi pattern UI</b> per web design.


    section#after-the-course.span6
      h2 Al termine del corso
      p Dopo questo corso, l'alunno sarà in grado di:
      ul.bullets
        li <b>Creare e comprendere i wireframe</b>. 
        li Sviluppare applicazioni web basate su <b>HTML5 e CSS3</b>.
        li Sostituire le animazioni JavaScript-based con <b>transizioni CSS3</b> più rapide ed efficienti.
        li Sviluppare una <b>responsive web page</b> compatibile con ogni dispositivo.
        li Creare ed usare le proprie <b>immagini sprite</b>. 
        li Scrivere <b>selettori CSS efficienti</b> che aiutino a migliorare il rendering time.
        li Usare <b>font-face icon</b> per minimizzare le server request.
        li <b>Diagnosticare la propria pagina web</b> in qualunque browser di classe A.
        li <b>Introdurre nuovi tag HTML5</b> in applicazioni nuove o già esistenti senza rompere la compatibilità browser.
        li <b>Usare schema.org</b> nei propri progetti. 
        li Usare <b>Modernizr e polyfills</b> per il supporto con i browser legacy.
        li Usare <b>framework CSS</b> e <b>reset CSS</b>.
        li Gestire i propri stylesheet usando un <b>preprocessor CSS</b> (Sass, LESS, Stylus).
        li <b>Validare l'accessibilità e la struttura</b> del proprio HTML. 
        li <b>Ottimizzare la larghezza della banda consumata</b> dalle proprie applicazioni web.
        li Usare <b>tool di sviluppo online</b>. 
        li <b>Dare i primi passi con il SEO</b>. 
        li Identificare <b>il supporto browser</b> per i nuovi standard.
        li Provare  <b>versioni differenti di Internet Explorer</b> allo stesso tempo.
        li <b>Usare LiveReload</b> per editare la propria pagina web in maniera più efficiente. 