extends ../../layouts/layout

append content
  a(class="btn btn-warning pull-right", href="/courses#html5-training") Back to courses
  h1 HTML5 and CSS3
  hr
  dl.dl-horizontal
    dt Duration:
    dd Three days of eight hours each
    dt Language: 
    dd This course can be delivered in English for in-house courses. 
    dt Aimed at:
    dd Designers and server-side web developers (java, python, ruby). It is recommended to have at least one year of experience developing web applications (HTML and CSS). No experience with JavaScript is required.
    dt Requirements:
    dd Each student is required  to carry his/her own laptop, and should have an administrator account. Windows (XP, Vista, 7) or Linux distributions are preferred, since they are the ones the instructor will be most familiar with. Other software tools will be installed during the labs. During in-house courses an Internet connection for everyone is required.
  hr

  .row-fluid
    section#goals.span6
      h2 Objectives
      p The goals of this course are:
      ul.bullets
        li <b>Separate contents and presentation</b> 
        li Introduce the <b>new tags available with HTML5.</b>.
        li Introduce  the  <b>new selectors available with CSS3</b>.
        li Introduce the <b>basics of JavaScript and JQuery</b>.
        li Apply the <b>new form elements and validation rules of HTML5</b>.
        li Understand the <b>browser market share</b>, specially regarding Internet Explorer.
        li Learn how to <b>simplify your HTML code</b>.
        li Introduce several <b>CSS frameworks</b> (Twitter Bootstrap, Compass).
        li <b>Improve performance</b> by reducing traffic between browser and server.
        li <b>Improve accesibility</b>.
        li Optimize your <b>search engine results position</b>.
        li Keep a consistent appearance including <b>legacy browsers without HTML5 o CSS3 support</b>.
        li Learn  how  to  write <b>alternate  CSS stylesheets for print</b>.
        li Learn how to apply <b>responsive design</b>.
        li <b>Introduce new fonts</b> other than web-safe. 
        li Learn <b>new UI patterns</b> for web design.


    section#after-the-course.span6
      h2 After completing this course
      p Once this course has been completed, you will be able to:
      ul.bullets
        li <b>Create and understand wireframes</b>. 
        li Develop web applications based on <b>HTML5 y CSS3</b>.
        li Replace JavaScript-based animations with faster and more efficient <b>CSS3 transitions</b>.
        li Develop a <b>responsive web page</b> suitable for any device.
        li Use and create your own <b>sprite images</b>. 
        li Write <b>efficient CSS selectors</b> that help improve rendering time.
        li Use <b>font-face icons</b> to minimize server requests.
        li <b>Diagnose your web page</b> in any A-class browser. 
        li <b>Introduce  new  HTML5  tags</b>  in  existing  or new  applications without breaking browser compatibility.
        li <b>Use schema.org</b> in your own projects. 
        li Use <b>Modernizr and polyfills</b> to include support for legacy browsers.
        li Use <b>CSS frameworks</b> and <b>CSS resets</b>.
        li Manage your stylesheets using a <b>CSS preprocessor</b> (Sass, LESS, Stylus).
        li <b>Validate the accesibility and structure</b> of your HTML fles. 
        li <b>Optimize  the  consumed  bandwidth</b> of  your web applications.
        li Use <b>online development tools</b>. 
        li <b>Get started with SEO</b>. 
        li Identify <b>browser support</b> for the new standards. 
        li Test  with  <b>different  versions  of  Internet Explorer</b> at the same time.
        li <b>Use LiveReload</b> to edit your web page more efficiently.
