extends ../../layouts/layout

append content
  h1 Curso de HTML5 y CSS3
  hr
  dl.dl-horizontal
    dt Duración:
    dd tres jornadas de ocho horas
    dt Orientado a:
    dd Diseñadores, maquetadores de HTML y desarrolladores de código servidor (java, python, ruby) de capa web. Es recomendable un mínimo de un año desarrollando aplicaciones web (HTML y CSS). No son necesarios conocimientos de JavaScript.
    dt Requisitos:
    dd Cada alumno deberá llevar su propio portátil, para el que deberá tener permisos de administrador. Se recomiendan los sistemas operativos Windows (XP, Vista, 7) o distribuciones Linux, dado que son los sistemas con los que el instructor tendrá experiencia. Las herramientas de software que sean necesarias se irán instalando a lo largo del curso. En cursos in-house, es imprescindible que la sala de impartición del curso disponga de conexión a Internet para todos los asistentes.

  .row
    section#goals.span6
      h2 Objetivos
      p Los objetivos del curso son los siguientes:
      ul.bullets
        li <b>Separar contenido y presentación</b> de capa web.
        li Conocer los <b>nuevos tags introducidos con HTML5</b>.
        li Conocer los <b>nuevos selectores y atributos introducidos con CSS3</b>.
        li Aprender lo básico de <b>JavaScript y JQuery</b>.
        li Aplicar los <b>nuevos componentes de formulario y reglas de validación</b> presentes en HTML5.
        li Asumir la <b>cuota de mercado de cada navegador</b>, con tratamiento especial para las versiones de IE.
        li <b>Simplificar el código HTML</b> generado por el servidor.
        li Utilizar <b>frameworks de CSS</b> (Twitter Bootstrap, Compass, Less)
        li <b>Reducir el tráfico</b> entre navegador y servidor, mejorando el rendimiento.
        li <b>Mejorar la accesibilidad</b> de las aplicaciones desarrolladas.
        li Optimizar el <b>posicionamiento en buscadores</b>.
        li <b>Mantener una imagen coherente entre navegadores</b>, incluyendo aquellos que no soportan HTML5 o CSS3.
        li Aprender a escribir <b>CSS de impresión</b>.
        li Aprender a utilizar técnicas de <b>responsive design</b>.
        li Aprender a utilizar otras <b>tipografías</b> más allá de las consideradas web-safe.
        li Conocer los nuevos <b>patrones de interfaces de usuario</b>.

    section#after-the-course.span6
      h2 Al completar este curso
      p Cuando termine este curso el asistente será capaz de:
      ul.bullets
        li <b>Crear e interpretar wireframes</b> eficientemente.
        li Desarrollar aplicaciones web basadas en <b>HTML5 y CSS3</b>.
        li Sustituir código javascript por <b>animaciones basadas en CSS3</b>, más rápidas y eficientes en recursos.
        li Diseñar <b>páginas web <i>responsive</i> </b> que se adapten a cualquier dispositivo.
        li <b>Emplear y generar sprites</b> para sus diseños.
        li Escribir <b>selectores de CSS más eficientes</b>, mejorando los tiempos de renderizado del navegador.
        li <b>Emplear iconos mediante font-face</b> reduciendo las peticiones al servidor.
        li <b>Diagnosticar el render de una página web</b> en cualquier navegador de clase A.
        li <b>Introducir nuevos tags HTML5</b> en aplicaciones existentes o de nuevo desarrollo, con soporte para navegadores más antiguos.
        li <b>Utilizar schema.org</b> en sus propios proyectos.
        li <b>Utilizar Modernizr y polyfills</b> para soportar navegadores sin soporte de HTML5.
        li Aplicar <b>frameworks CSS y CSS reset</b>.
        li Administrar sus hojas de estilo mediante un <b>pre-procesador de CSS</b> (Sass, LESS, Stylus).
        li Validar la <b>accesibilidad del HTML</b>.
        li <b>Optimizar el ancho de banda</b> consumido por las aplicaciones web.
        li Emplear las <b>herramientas de ayuda al desarrollo</b> que hay disponibles online.
        li <b>Realizar un SEO básico</b> de sus aplicaciones web.
        li Identificar el <b>grado de soporte de cada navegador</b>.
        li Realizar pruebas a la vez <b>en distintas versiones de IE</b>.
        li Usar <b>LiveReload</b> para editar su página web sin necesidad de recargar en el navegador.
