extends ../../layouts/layout
append content
  a(class="btn btn-warning pull-right", href="/courses#spring-training") Torna ai corsi
  h1 Core Spring
  hr
  p Corso di 4 giornate durante le quali i partecipanti apprenderanno il funzionamento di Spring Framework e delle tecnologie utilizzate come, ad esempio: <b>Spring AOP, Spring Security, Spring IOC</b>, ed altre ancora.
  p Alla fine del corso gli alunni avranno imparato a sviluppare, utilizzando metodologie di tipo Agile, applicazioni di business scalabili e facilmente adattabili all’evoluzione di qualsiasi esigenza futura ed avranno la possibilità di poter usufruire di un voucher gratuito per l’iscrizione, tramite un qualsiasi centro PearsonVUE autorizzato, all’esame <b>Spring Framework Certification Examination</b> per il conseguimento della certificazione ufficiale rilasciata da SpringSource.
  p Il corso non si limita alla spiegazione delle caratteristiche del framework ed il suo corretto utilizzo, ma tratterà anche temi di architettura di sistema. 

  hr

  .row-fluid
    section#goals.span6
      h2 Contenuto
      ol
        li  Fondamenti di Spring Framework <span class="label">Giorno 1</span>
          ul.bullets
            li Introduzione all’ architettura di tipo lightweight, IoC Container ed Application Context.
            li Sviluppo di applicazioni strutturate, configurabili e testabili attraverso Dependency Injection e Test-Driven Development.
            li Sviluppo di codice migliore e maggiormente coeso, con utilizzo di Design Patterns ed Object Oriented.
            li Realizzazione di esercizi basati su modelli di business reali.
        li Business Layer <span class="label">Giorno 2</span>
          ul.bullets
            li Aggiungere comportamenti agli oggetti con l’ AOP (Aspect Oriented Programming).
            li Introduzione alla Persistenza: come costruire il Persistence Layer con Spring.
            li Persistenza con Spring JDBC.
            li Strategie di gestione delle transazioni con Spring nel Service Layer.
            li Strategie di test d’unità e di integrazione a livello di Business Layer.
        li Enterprise Information Connectivity <span class="label">Giorno 3</span>
          ul.bullets
            li Introduzione all’ ORM (Object-to-Relational Mapping).
            li Utilizzo e configurazione di Hibernate con Spring.
            li Architettura di una Web Application con Spring.
            li Introduzione a Spring Web MVC, Spring JavaScript, Spring Web Flow e Spring Faces.
            li Spring MVC.
            li RESTful Web Services con Spring MVC.
        li Integrazione con servizi Enterprise <span class="label">Giorno 4</span>
          ul.bullets
            li Rendere sicure le applicazioni con Spring Security.
            li Introduzione a Spring Remoting.
            li Come semplificare applicazioni JMS tramite Message-Driven POJOs con Spring JMS.
            li Gestione delle applicazioni con JMX tramite Spring.

    section.span6
      dl.dl-horizontal
        dt Durata:
        dd 32 ore
        dt Lingua: 
        dd Il corso é in italiano ma in modalità in-house può essere impartito anche in inglese. 
        dt A chi é rivolto:
        dd E’ quindi importante sottolineare che gli alunni devono possedere previa conoscenza delle API Java, dei concetti JEE, JTA e delle API Servlet.
        dt Requisiti:
        dd Ogni alunno deve portare con sé un laptop ed avere un administrator account. Sono preferibili Windows (XP, Vista, 7) o Linux, con i quali l'istruttore ha maggior familiarità. Altri software tool saranno installati durante i laboratori. Nei corsi in modalitá in-house, é necessaria una connessione Internet per tutti.