extends ../../layouts/layout
append content
  h1 Rich Web Applications with Spring
  hr
  p L’obiettivo di questo corso é imparare ad utilizzare la tecnologia Spring per creare applicazioni web complete. Lo sviluppo di applicazioni web, totalmente o parzialmente basate su Spring, assieme ad una metodologia centrata a risolvere i problemi reali piú comuni, fa di questo corso un complemento ideale per coloro che hanno giá una certa esperienza con la tecnologia Spring.
  hr

  .row-fluid
    section#goals.span6
      h2 Contenuto
      ol
        li Applicando MVC <span class="label">Giorno 1</span>
          ul.bullets
            li Visione generale del corso e delle applicazioni corrispondenti. Aspetti base di Spring MVC.
            li Integrazione di varie tecnologie e formati per l’esposizione dei contenuti, includen do JSP/JSTL, Tiles, PDF ed Excel.
            li Data-Entry Form, Binding e Validazione.
        li Implementazione di Interfacce di tipo Rich <span class="label">Giorno 2</span>
          ul.bullets
            li Analisi delle migliori tecniche per il disegno di interfacce utente in relazione al con tenuto, lo stile ed il comportamento delle stesse.
            li Aspetti fondamentali di Javascript per sviluppatori Ajax.
            li Massimizzazione delle funzionalitá del Dojo Toolkit.
            li Internazionalizzazione, personalizzazione ed accessibilità di Applicazioni Web sviluppate con Spring.
        li Utilizzo di Spring Web Flow <span class="label">Giorno 3</span>
          ul.bullets
            li Primi passi con Spring Web Flow.
            li Aspetti essenziali del linguaggio utilizzato nella definizione dei Flow (Flow Definition Language). Stati, Eventi e Transizioni. Aggiungere comportamenti ad un Flow. 
            li Controllo di eventi Ajax, gestione dinamica delle eccezioni e delle regole di navigazione.
        li Sviluppo di applicazioni web affidabili e sicure <span class="label">Giorno 4</span>
          ul.bullets
            li Integrazione di componenti JSF con Spring Faces.
            li Test di accettazione e di carico durante l’intero ciclo di sviluppo di un Applicazione Web.
            li Hibernate in contesti di operatività su grandi volumi ed alta concorrenza.
            li Integrazione di vari sistemi di applicazioni, includendo servizi gestiti da Spring, OSGi e Servizi Web.


    section.span6
      dl.dl-horizontal
        dt Durata:
        dd 32 ore
        dt Lingua: 
        dd Il corso é in italiano ma in modalità in-house può essere impartito anche in inglese. 
        dt A chi é rivolto:
        dd E’ quindi importante sottolineare che gli alunni devono possedere previa conoscenza della tecnologia Spring.
        dt Requisiti:
        dd Ogni alunno deve portare con sé un laptop ed avere un administrator account. Sono preferibili Windows (XP, Vista, 7) o Linux, con i quali l'istruttore ha maggior familiarità. Altri software tool saranno installati durante i laboratori. Nei corsi in modalitá in-house, é necessaria una connessione Internet per tutti.