extends ../../layouts/layout
append content
  a(class="btn btn-success pull-right", href="/courses#spring") Mi iscrivo!
  h1 Rich Web Applications with Spring
  hr
  p Durante questo corso di quattro giornate saranno presi in considerazione gli aspetti e le tecnologie di maggior rilievo in relazione all’integrazione di applicazioni in ambito Enterprise. Verrà spiegato come applicare Spring per risolvere i problemi di integrazione in cui si imbattono gli sviluppatori server side.
  p A corso completato, gli studenti avranno inoltre diritto all’utilizzo di un voucher gratuito per l’iscrizione, tramite un qualsiasi centro PearsonVUE autorizzato, all’esame per il conseguimento della certificazione ufficiale come <b>SpringSource Certified Spring Enterprise Integration Specialist</b>.

  hr


  .row-fluid
    section#goals.span6
      dl.dl-horizontal
        dt Durata:
        dd 32 ore
        dt Lingua: 
        dd Il corso é in italiano ma in modalità in-house può essere impartito anche in inglese. 
        dt A chi é rivolto:
        dd Esperienza nello sviluppo di applicazioni Java, conoscenza base di Spring e del Container IOC (Inversione di Controllo). Nonostante non sia imprescindibile, é raccomandabile aver realizzato previamente il corso di Core Spring.
        dt Requisiti:
        dd Ogni alunno deve portare con sé un laptop ed avere un administrator account. Sono preferibili Windows (XP, Vista, 7) o Linux, con i quali l'istruttore ha maggior familiarità. Altri software tool saranno installati durante i laboratori. Nei corsi in modalitá in-house, é necessaria una connessione Internet per tutti.
      h2 Obiettivi
      ul.bullets
        li Usare Spring per la creazione di applicazioni concorrenti e la pianificazione dei Task.
        li Usare Remoting per implementare applicazioni client-server. 
        li Usare Spring Web Services per la creazione, nel rispetto del principio di Loose Coupling, di Servizi Web e Client basati su SOAP. 
        li Usare Spring MVC per la creazione di Servizi Web e Client RESTful. 
        li Usare JMS per la gestione asincrona di comunicazioni Messaging-based. 
        li Capire e usare transazioni locali e distribuite. 
        li Usare Spring Integration per la creazione di architetture Event-driven e Pipes-and-Filters e come integrarle con sistemi ed applicazioni esterne. 
        li Usare Spring Batch per la gestione e la scalabilità d’esecuzione di procedure batch basate su componenti standard o create su misura.

    section.span6
      
      h2 Contenuto
      ol
        li Introduzione
          ul.bullets
            li Tipi di integrazione in ambito Enterprise.
            li Trasferimento di Fil, Remoting e Servizi Web.
        li Pianificazione dei Task
          ul.bullets
            li Introduzione alla concorrenza.
            li API per la concorrenza in Java.
            li Supporto per la pianificazione dei Task in Spring.
            li Il namespace <task />.
            li Le annotazioni @Scheduled ed @Asynch.
        li Remoting
          ul.bullets
            li Limitazioni nell’utilizzo classico di RMI.
            li I benefici dell’utilizzo di Spring Remoting.
            li Spring Remoting su RMI. HttpInvoker. Il supporto, in Spring, per Hessian e Burlap.
        li Servizi Web SOAP con Spring WS
          ul.bullets
            li Come utilizzare, in modo pratico e migliore, i Servizi Web.
            li Introduzione a Spring WS.
            li Mappatura di oggetti da e verso XML con il Layer d’ Astrazione Spring OXM.
            li Accesso Client ai Servizi Web con il WebServiceTemplate.
            li Gestione degli errori.
            li Out-of-container Testing, come testare i Servizi Web in isolamento.
        li Servizi Web REST
          ul.bullets
            li Concetti principali in REST.
            li Il Supporto REST in Spring 3.x.
            li Annotazioni specifiche REST in Spring.
            li Accesso Client ai Servizi REST con il RestTemplate.
        li Utilizzare JMS
          ul.bullets
            li Introduzione a JMS.
            li Configurazione delle risorse JMS in Spring.
            li Come inviare e ricevere messaggi utilizzando il JmsTemplate ed i Message Listener
            li Containers in Spring.
        li JMS Transazionale
          ul.bullets
            li Perché utilizzare le transazioni JMS.
            li Le risorse transazionali JMS con Spring.
            li La gestione della duplicazione dei messaggi.
        li Transazioni Globali
          ul.bullets
            li Le Two-phase commit ed XA.
            li JTA e Spring.
            li Come configurare il JTATransactionManager.
            li La demarcazione delle transazioni.
        li Introduzione a Spring Integration
          ul.bullets
            li Gli obiettivi di Spring Integration.
            li I componenti principali di Spring Integration.
            li Definizione di Canali, Message Endpoints e Gateways.
            li Spring Integration namespaces.
            li Spring Integration ed il Visual Editor basato su Eclipse.
        li Configurazione di Spring Integration
          ul.bullets
            li Tipi di Canali e Polling.
            li “Handoff” sincrono ed asincrono.
            li Gestione degli errori sincrona ed asincrona.
            li Tipi speciali di endpoints: Bridge e Router.
            li Utilizzare il MessagingTemplate
        li Caratteristiche avanzate di Spring Integration
          ul.bullets
            li Separazione ed aggregazione dei messaggi.
            li Configurazione del Dispatcher.
            li Supporto XML: XPath, XSLT, Object-XML mapping
        li Introduzione a Spring Batch
          ul.bullets
            li Spring Batch: Panoramica ad alto livello.
            li Come utilizzare Jobs, Steps, Readers e Writers.
            li Job: Parametri ed identità.
            li Persistenza di stato dei Batch nel Database.
            li Spring Batch: Esempio di Quick-start.
        li Riavvio e Recovery con Spring Batch
          ul.bullets
            li Stateful ItemReaders/Writers.
            li Lettura di File
            li Introduzione ai meccanismi di skip, retry, repeat e restart.
        li Spring Batch Admin
          ul.bullets
            li Amministrare Spring Batch dalla Spring Batch Admin Web Console.
            li Jobs: Esecuzione parallela e scalabilità.
            li Steps: Esecuzione parallela e Multi-thread.
            li Partizionamento.

