extends ../../layouts/layout
append content
  a(class="btn btn-warning pull-right", href="/courses#spring") Volver a cursos
  h1 Rich Web Applications with Spring
  hr

  p El objetivo de este curso es aprender a utilizar la tecnología Spring para crear aplicaciones web completas. El desarrollo de aplicaciones web basadas en Spring desde cero y de forma escalonada junto con una metodología enfocada a resolver los problemas reales más habituales hacen de este curso un complemento ideal para aquéllos que ya tienen cierta experiencia con la tecnología Spring.

  p Aunque no es requisito imprescindible, para un mejor aprovechamiento del curso se recomienda haber realizado previamente el curso <a href="/courses/spring-core">Spring Core</a>.

  hr

  .row-fluid
    section.span6
      dl.dl-horizontal
        dt Duración:
        dd 4 jornadas de 8 horas
        dt Idioma: 
        dd Este curso está disponible en español, inglés e italiano. 
        dt Dirigido a:
        dd Desarrolladores Java y arquitectos implicados en proyectos web.
        dt Requisitos:
        dd Cada asistente deberá llevar su propio portátil, en el que deberá tener permisos para instalar aplicaciones.

    section.span6
      
      h2 Contenido
      ol
        li Spring MVC <span class="label">Día 1</span>
          ul.bullets
            li Modelo de programación basado en anotaciones Spring MVC
            li Composición de páginas con tecnologías basadas en Layouts como Tiles
            li Visualización de multiples tipos de contenidos
            li Gestión de Excepciones
            li Procesado de formularios
        li Enriqueciendo el interfaz de usuario <span class="label">Día 2</span>
          ul.bullets
            li Buenas prácticas para el enriquecimiento del interfaz del usuario.
            li Fundamentos de JavaScript para desarrollo Ajax
            li Uso del toolkit de Dojo y Spring JS
            li Internacionalización y personalización
        li Spring Web Flow <span class="label">Día 3</span>
          ul.bullets
            li Introducción a Spring WebFlow. Fundamentos del lenguaje de definición de flujos.
            li Uso de Actions para invocar lógica de negocio
            li Gestión de eventos Ajax, Excepciones y reglas de navegación dinámicas.
        li Aplicaciones Robustas y Seguras <span class="label">Día 4</span>
          ul.bullets
            li Spring Faces. Integración con JSF
            li Construcción de pruebas funcionales
            li Protección de aplicaciones web con Spring Security
            li Uso de Grails y Roo para el desarrollo rápido de aplicaciones web.



