extends ../../layouts/layout
append content
  a(class="btn btn-success pull-right", href="/courses#spring") ¡Me apunto!
  h1 Core Spring
  hr

  p Curso de 4 días de duración en el cual los asistentes aprenderán el funcionamiento del Core Spring framework Spring de Dependency Injection. Al finalizar este curso los asistentes serán capaces de desarrollar aplicaciones de negocio de una forma ágil y escalable, fácilmente adaptables a la evolución de las necesidades futuras. Tras este curso el asistente dispondrá de la posibilidad de certificarse con Spring realizando gratuitamente el <b>Spring Framework Certification Examination</b> online (cuyo valor de mercado es 115 euros).

  p El curso ofertado no se centra únicamente en la explicación de las características del framework y su correcta utilización, sino que además se tratarán temas de arquitectura de sistemas. Para continuar mejorando los conocimientos de Spring es recomendable asistir a <a href="/courses/spring-rich-web">Rich Web Applications with Spring</a> o <a href="/courses/spring-enterprise">Enterprise Integration with Spring</a> una vez completado Core Spring.

  p Es importante resaltar que los asistentes al curso deben poseer conocimientos previos de <b>los APIs de Java, conceptos JEE, JTA y del servlet API</b>.

  hr

  .row-fluid
    section.span6
      dl.dl-horizontal
        dt Duración:
        dd 4 jornadas de 8 horas
        dt Idioma: 
        dd Este curso está disponible en español, inglés e italiano. 
        dt Dirigido a:
        dd Desarrolladores Java y arquitectos.
        dt Requisitos:
        dd Cada asistente deberá llevar su propio portátil, en el que deberá tener permisos para instalar aplicaciones.

    section.span6
      
      h2 Contenido
      ol
        li Fundamentos de Spring Framework <span class="label">Día 1</span>
          ul.bullets
            li 
            li Introducción a la arquitectura de contenedor ligero y el Spring Application Context
            li Desarrollo de aplicaciones estructuradas, altamente configurables y testables a través de Dependency Injection y Test-Driven Development.
            li Desarrollo de código mejor y más cohesivo, con debate sobre los patrones y mejores prácticas de diseño orientado a objetos.
            li Realización de prácticas basadas en modelos de negocios reales.
        li Arquitectura eficiente de capa de negocio <span class="label">Día 2</span>
          ul.bullets
            li Programación orientada a objetos pragmática en la capa de negocio, con ejemplos y sin tecnicismos
            li Persistencia efectiva: cómo construir una capa de persistencia con Spring utilizando las mejores prácticas.
            li Análisis y balance de las estrategias relevantes de persistencia, incluyendo Hibernate y Spring JDBC
            li Estrategias de gestión de transacciones con Spring en la capa de servicios
            li Estrategias de test unitarios y de integración en la capa de negocio
        li Implementando conectividad con información Empresarial <span class="label">Día 3</span>
          ul.bullets
            li Análisis de conectividad ORM e Hibernate con Spring
            li Visión general de Spring Web MVC, Spring JavaScript, Spring Web Flow y Spring Faces
            li Configuración de servicios remotos gestionados por Spring
            li Diseño de los primeros contratos de servicios web a través de Spring
        li Integración con Enterprise Services <span class="label">Día 4</span>
          ul.bullets
            li Introducción a Spring Security y el acceso basado en roles
            li Gestión a través de Spring JMX
            li Configuración de Message-Driven POJOs con Spring JMS
            li Análisis de las soluciones empresariales de SpringSource


   


