extends ../../layouts/layout
append content
  a(class="btn btn-warning pull-right", href="/courses#spring-training") Back to courses
  h1 Rich Web Applications with Spring
  hr

  p Rich Web Applications with Spring is a 4-day training on web application development led by SpringSource experts. This hands-on training teaches you how to apply the latest in Spring to create rich web applications. 

  p Completion of this training entitles each student to receive a free voucher to schedule an exam at a Pearson Vue Centre to become a <b>SpringSource Certified Spring Web Application Developer</b>. The Rich Web Applications with Spring training is also the ideal preparation for the certification exam.

  p Rich Web Applications with Spring is the perfect training if:
  ul.bullets
    li You like to become an expert at using the <b>Spring Framework</b>
    li You want to show your developer skills by building beautiful <b>rich web applications</b>
    li <b>You took Core Spring</b> and want to further improve your developer skills
    li You are working on/have planned a <b>rich web project</b>
    li You are interested in being granted the <b>Spring Rich Web certification</b>
  
  p To further improve your Spring developer skills we recommend to take <a href="/courses/spring-enterprise">Enterprise Integration with Spring</a> after completing Rich Web Applications with Spring.

  hr

  .row-fluid
    section#goals.span6
      dl.dl-horizontal
        dt Duration:
        dd 32 hours
        dt Language: 
        dd This course is available in English, Spanish and Italian. 
        dt Audience:
        dd This training is designed for developers interested in developing web applications with Spring.
        dt Requirements:
        dd Each student is required to carry his/her own laptop, and should have enough permissions to install applications on it.
      h2 Overview
      p At the end of the training, you should have an understanding of Spring and associated technologies for web development and be able to do the following:
      ul.bullets
        li <b>Develop web applications</b> using the Spring Framework
        li Use <b>Spring Web Flow</b> to implement stateful interactions
        li <b>Secure web applications</b> with Spring Security
        li <b>Test web applications</b> for correctness and performance
        li Create rich web user interfaces with <b>HTML, CSS, and JavaScript</b>
        li Connect a Flex client to a Spring back-end with <b>Spring BlazeDS</b>
        li Put it all together with rapid productivity tools like <b>Grails and Spring Roo</b>
        li Use the <b>SpringSource Tool Suite</b> and <b>Spring Insight</b>

    section.span6
      
      h2 Syllabus
      ol
        li Spring Web MVC
          ul.bullets
            li Spring MVC annotation-based programming model
            li Page composition with layout technologies such as Tiles
            li Rendering multiple content types 
            li Handling exceptions
            li Processing form pages
            li Internationalization and personalization
        li Spring Web Flow
          ul.bullets
            li Introduction to Spring Web Flow
            li Authoring flow definitions
            li View states, events and transitions
            li Adding flow behavior
            li Working with scoped data
            li Using the Web Flow integration with JSF
        li Spring Security
          ul.bullets
            li Securing a web application with Spring Security
        li Integration With Client Technologies
          ul.bullets
            li Modern Web UI
            li Progressive enhancement, accessibility, web design
            li Working with HTML, CSS and JavaScript
            li Using a JavaScript framework (Dojo) for DOM scripting and UI widgets
            li Integrating Flex clients with Spring applications
        li Rapid Application Development
          ul.bullets
            li Using Grails & Spring Roo
   


