<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{site.data[page.hl][page.title]}}{% else %}{{site.data[page.hl].title}}{% endif %} | extrema-sistemas.com</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/app.css">
    {% for lang in site.data.langs %}
      <link rel="alternate" hreflang=locale href="/{{lang}}/{{page.currentTab}}">
    {% endfor %}
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.data[page.hl].defaultDesc}}{% endif %}">
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    
    <script>
      window.currentLang = "{{page.hl}}";
    </script>
    <script src="/js/app.min.js"></script>
  </body>
</html>