.course-container {
  h4 {
    color: #5987AC;
  }
}

.certification {
  background: #FFFFB7;
  padding: 10px;
  border: 1px solid #FFEBB7;  
  .icon {
    color: #E36736;
  }
  .icon {
    font-size: 15px;
  }
}

.logo-spring-big {
  max-height: 100px;
}

.button {
  font-size: 1rem;
}

.button:not(:last-child) {
  margin-right: 5px;
}

.course-container.cloud {
  .logo-container {
    max-height: 140px;
  }
  .training-logo {
    width: 180px;
  }
}

@media #{$medium-up} {
  .course-container {
    display: flex;
    align-items: center;
  }
}