$footer-link-color: $white;
footer {
  padding: 30px 0 0;
  overflow: auto;
  background: $footer-color;
  font-weight: bold;

  .top-logo {
    margin: 0;
    height: 20px;
    color: $footer-link-color;
  }
}

.footer-column-title {
  text-transform: uppercase;
  color: $footer-link-color;
  margin-bottom: 12px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  overflow: hidden;
}

.footer-link {
  font-size: 14px;
  color: $footer-link-color;
  &:focus, &:hover {
    color: $footer-link-color;
  }
}