$develop-button-bg-color: #eb5255;
$training-button-bg-color: #34495e;

$topbar-bg: #003955;
$topbar-color: $white;
$topbar-dropdown-bg: #003955;
$topbar-dropgown-bg-hover: lighten($topbar-dropdown-bg, 15%);
$logo-margin: 0.8rem .6rem;

.topbar {
  background-color: rgba($topbar-bg, .95);
  color: $topbar-color;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-size: 1.1rem
}
.topbar > .content {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0 1rem;
  .popup-menu-contents {
    top: 70px;
    right: 10px;
  }
}
.topbar-logo {
  float: left;
  display: block;
  margin: $logo-margin;
  margin-left: 0;
}
.topbar-separator {
  flex-grow: 1;
}
.topbar-link {
  padding: $logo-margin;
  color: $topbar-color;
  text-decoration: none;
  transition: background 1s ease-out;
  border-radius: 3px;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $topbar-color;
  }
}
.topbar-logo-img {
  height: 32px;
  min-width: 150px;
  display: block;
  font-size: 32px;
}
.topbar-links {
  display: none;
}
.topbar-hamburger {
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  text-align: right;
  display: inline-block;
}
.topbar-hamburguer-icon {
  fill: $topbar-color;
}
.topbar-dropdown {
  display: none;
  position: absolute;
  right: 0;
  border-radius: 3px;
  background: $topbar-dropdown-bg;
  z-index: 89;
  .topbar-link {
    display: block;
    padding: 10px 20px;
    &:hover {
      background: $topbar-dropgown-bg-hover;
    }
  }
  &::before {
    right: 0.8rem;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent $topbar-dropdown-bg transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    z-index: 89;
  }
}
.topbar-dropdown-menu {
  position: relative;
  &:hover,
  &:focus {
    .topbar-dropdown {
      display: block;
    }
  }
}

.contain-to-grid {
  .topbar {
    position: relative;
    background-color: transparent;
    .topbar-link {
      &:hover, &:focus, &.active {
        background-color: $white !important;
        color: $jet !important;
      }
    }
    .topbar-dropdown {
      background: $jet;
      border-color: $jet;
      &:before {
        border-color: transparent transparent $jet transparent;
      }
    }
  }
}

@media #{$medium-up} {
  .topbar-links {
    display: block;
  }
  .topbar-dropdown-menu {
    display: none;
  }
  .topbar-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.header {
  background: url('/img/background.jpg') no-repeat center center fixed;
  background-size: cover; 
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header-content {
  background: rgba(34, 35, 46, 0.83);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sections {
  display: flex;
  height: 100%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
}
.develop {
  width: 100%;
  height: auto;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #fff;
  padding: 10px 40px;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 30px;
  }
  .button {
    margin: 0;
    padding: 1.1rem 1.5rem;
    background-color: $develop-button-bg-color;
  }
}
.home-subtitle {
  font-size: 1rem;
}
section.top-bar-section {
  padding: 0;
}
.section.big {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media #{$screen} and (max-width: 16em) {
  .home-subtitle {
    margin-bottom: .5rem;
  }
  .develop .button {
    font-size: $button-sml;
  }
}

@media #{$screen} and (min-width: 30em) {
  .develop h1 {
    font-size: 40px;
  }
  .home-subtitle {
    font-size: 1.5rem;
  }
  .top-logo {
    min-width: 185px;
  }
  
}

@media #{$medium-up} {
  .header {
    background-image: url('/img/background-medium.jpg');
  }
  .develop {
    max-height: 100%;
  }
}

@media #{$large-up} {
  .header {
    background-image: url('/img/background-big.jpg');
  }
}